.double-winder--rotation-1 { background: url('./double/ttm-dvojni-1.png'); }
.double-winder--rotation-2 { background: url('./double/ttm-dvojni-2.png'); }
.double-winder--rotation-3 { background: url('./double/ttm-dvojni-3.png'); }
.double-winder--rotation-4 { background: url('./double/ttm-dvojni-4.png'); }
.double-winder--rotation-5 { background: url('./double/ttm-dvojni-5.png'); }
.double-winder--rotation-6 { background: url('./double/ttm-dvojni-6.png'); }
.double-winder--rotation-7 { background: url('./double/ttm-dvojni-7.png'); }
.double-winder--rotation-8 { background: url('./double/ttm-dvojni-8.png'); }
.double-winder--rotation-9 { background: url('./double/ttm-dvojni-9.png'); }
.double-winder--rotation-10 { background: url('./double/ttm-dvojni-10.png'); }
.double-winder--rotation-11 { background: url('./double/ttm-dvojni-11.png'); }
.double-winder--rotation-12 { background: url('./double/ttm-dvojni-12.png'); }
.double-winder--rotation-13 { background: url('./double/ttm-dvojni-13.png'); }
.double-winder--rotation-14 { background: url('./double/ttm-dvojni-14.png'); }
.double-winder--rotation-15 { background: url('./double/ttm-dvojni-15.png'); }
.double-winder--rotation-16 { background: url('./double/ttm-dvojni-16.png'); }
.double-winder--rotation-17 { background: url('./double/ttm-dvojni-17.png'); }
.double-winder--rotation-18 { background: url('./double/ttm-dvojni-18.png'); }
.double-winder--rotation-19 { background: url('./double/ttm-dvojni-19.png'); }
.double-winder--rotation-20 { background: url('./double/ttm-dvojni-20.png'); }
.double-winder--rotation-21 { background: url('./double/ttm-dvojni-21.png'); }
.double-winder--rotation-22 { background: url('./double/ttm-dvojni-22.png'); }
.double-winder--rotation-23 { background: url('./double/ttm-dvojni-23.png'); }
.double-winder--rotation-24 { background: url('./double/ttm-dvojni-24.png'); }
.double-winder--rotation-25 { background: url('./double/ttm-dvojni-25.png'); }
.double-winder--rotation-26 { background: url('./double/ttm-dvojni-26.png'); }
.double-winder--rotation-27 { background: url('./double/ttm-dvojni-27.png'); }
.double-winder--rotation-28 { background: url('./double/ttm-dvojni-28.png'); }
.double-winder--rotation-29 { background: url('./double/ttm-dvojni-29.png'); }
.double-winder--rotation-30 { background: url('./double/ttm-dvojni-30.png'); }
.double-winder--rotation-31 { background: url('./double/ttm-dvojni-31.png'); }
.double-winder--rotation-32 { background: url('./double/ttm-dvojni-32.png'); }
.double-winder--rotation-33 { background: url('./double/ttm-dvojni-33.png'); }
.double-winder--rotation-34 { background: url('./double/ttm-dvojni-34.png'); }
.double-winder--rotation-35 { background: url('./double/ttm-dvojni-35.png'); }
.double-winder--rotation-36 { background: url('./double/ttm-dvojni-36.png'); }
.double-winder--rotation-37 { background: url('./double/ttm-dvojni-37.png'); }
.double-winder--rotation-38 { background: url('./double/ttm-dvojni-38.png'); }
.double-winder--rotation-39 { background: url('./double/ttm-dvojni-39.png'); }
.double-winder--rotation-40 { background: url('./double/ttm-dvojni-40.png'); }
.double-winder--rotation-41 { background: url('./double/ttm-dvojni-41.png'); }
.double-winder--rotation-42 { background: url('./double/ttm-dvojni-42.png'); }
.double-winder--rotation-43 { background: url('./double/ttm-dvojni-43.png'); }
.double-winder--rotation-44 { background: url('./double/ttm-dvojni-44.png'); }
.double-winder--rotation-45 { background: url('./double/ttm-dvojni-45.png'); }
.double-winder--rotation-46 { background: url('./double/ttm-dvojni-46.png'); }
.double-winder--rotation-47 { background: url('./double/ttm-dvojni-47.png'); }
.double-winder--rotation-48 { background: url('./double/ttm-dvojni-48.png'); }
.double-winder--rotation-49 { background: url('./double/ttm-dvojni-49.png'); }
.double-winder--rotation-50 { background: url('./double/ttm-dvojni-50.png'); }
.double-winder--rotation-51 { background: url('./double/ttm-dvojni-51.png'); }
.double-winder--rotation-52 { background: url('./double/ttm-dvojni-52.png'); }
.double-winder--rotation-53 { background: url('./double/ttm-dvojni-53.png'); }
.double-winder--rotation-54 { background: url('./double/ttm-dvojni-54.png'); }
.double-winder--rotation-55 { background: url('./double/ttm-dvojni-55.png'); }
.double-winder--rotation-56 { background: url('./double/ttm-dvojni-56.png'); }
.double-winder--rotation-57 { background: url('./double/ttm-dvojni-57.png'); }
.double-winder--rotation-58 { background: url('./double/ttm-dvojni-58.png'); }
.double-winder--rotation-59 { background: url('./double/ttm-dvojni-59.png'); }
.double-winder--rotation-60 { background: url('./double/ttm-dvojni-60.png'); }
.double-winder--rotation-61 { background: url('./double/ttm-dvojni-61.png'); }
.double-winder--rotation-62 { background: url('./double/ttm-dvojni-62.png'); }
.double-winder--rotation-63 { background: url('./double/ttm-dvojni-63.png'); }
.double-winder--rotation-64 { background: url('./double/ttm-dvojni-64.png'); }
.double-winder--rotation-65 { background: url('./double/ttm-dvojni-65.png'); }
.double-winder--rotation-66 { background: url('./double/ttm-dvojni-66.png'); }
.double-winder--rotation-67 { background: url('./double/ttm-dvojni-67.png'); }
.double-winder--rotation-68 { background: url('./double/ttm-dvojni-68.png'); }
.double-winder--rotation-69 { background: url('./double/ttm-dvojni-69.png'); }
.double-winder--rotation-70 { background: url('./double/ttm-dvojni-70.png'); }
.double-winder--rotation-71 { background: url('./double/ttm-dvojni-71.png'); }
.double-winder--rotation-72 { background: url('./double/ttm-dvojni-72.png'); }
.double-winder--rotation-73 { background: url('./double/ttm-dvojni-73.png'); }
.double-winder--rotation-74 { background: url('./double/ttm-dvojni-74.png'); }
.double-winder--rotation-75 { background: url('./double/ttm-dvojni-75.png'); }
.double-winder--rotation-76 { background: url('./double/ttm-dvojni-76.png'); }
.double-winder--rotation-77 { background: url('./double/ttm-dvojni-77.png'); }
.double-winder--rotation-78 { background: url('./double/ttm-dvojni-78.png'); }
.double-winder--rotation-79 { background: url('./double/ttm-dvojni-79.png'); }
.double-winder--rotation-80 { background: url('./double/ttm-dvojni-80.png'); }
.double-winder--rotation-81 { background: url('./double/ttm-dvojni-81.png'); }
.double-winder--rotation-82 { background: url('./double/ttm-dvojni-82.png'); }
.double-winder--rotation-83 { background: url('./double/ttm-dvojni-83.png'); }
.double-winder--rotation-84 { background: url('./double/ttm-dvojni-84.png'); }
.double-winder--rotation-85 { background: url('./double/ttm-dvojni-85.png'); }
.double-winder--rotation-86 { background: url('./double/ttm-dvojni-86.png'); }
.double-winder--rotation-87 { background: url('./double/ttm-dvojni-87.png'); }
.double-winder--rotation-88 { background: url('./double/ttm-dvojni-88.png'); }
.double-winder--rotation-89 { background: url('./double/ttm-dvojni-89.png'); }
.double-winder--rotation-90 { background: url('./double/ttm-dvojni-90.png'); }
.double-winder--rotation-91 { background: url('./double/ttm-dvojni-91.png'); }
.double-winder--rotation-92 { background: url('./double/ttm-dvojni-92.png'); }
.double-winder--rotation-93 { background: url('./double/ttm-dvojni-93.png'); }
.double-winder--rotation-94 { background: url('./double/ttm-dvojni-94.png'); }
.double-winder--rotation-95 { background: url('./double/ttm-dvojni-95.png'); }
.double-winder--rotation-96 { background: url('./double/ttm-dvojni-96.png'); }
.double-winder--rotation-97 { background: url('./double/ttm-dvojni-97.png'); }
.double-winder--rotation-98 { background: url('./double/ttm-dvojni-98.png'); }
.double-winder--rotation-99 { background: url('./double/ttm-dvojni-99.png'); }
.double-winder--rotation-100 { background: url('./double/ttm-dvojni-100.png'); }
.double-winder--rotation-101 { background: url('./double/ttm-dvojni-101.png'); }
.double-winder--rotation-102 { background: url('./double/ttm-dvojni-102.png'); }
.double-winder--rotation-103 { background: url('./double/ttm-dvojni-103.png'); }
.double-winder--rotation-104 { background: url('./double/ttm-dvojni-104.png'); }
.double-winder--rotation-105 { background: url('./double/ttm-dvojni-105.png'); }
.double-winder--rotation-106 { background: url('./double/ttm-dvojni-106.png'); }
.double-winder--rotation-107 { background: url('./double/ttm-dvojni-107.png'); }
.double-winder--rotation-108 { background: url('./double/ttm-dvojni-108.png'); }
.double-winder--rotation-109 { background: url('./double/ttm-dvojni-109.png'); }
.double-winder--rotation-110 { background: url('./double/ttm-dvojni-110.png'); }
.double-winder--rotation-111 { background: url('./double/ttm-dvojni-111.png'); }
.double-winder--rotation-112 { background: url('./double/ttm-dvojni-112.png'); }
.double-winder--rotation-113 { background: url('./double/ttm-dvojni-113.png'); }
.double-winder--rotation-114 { background: url('./double/ttm-dvojni-114.png'); }
.double-winder--rotation-115 { background: url('./double/ttm-dvojni-115.png'); }
.double-winder--rotation-116 { background: url('./double/ttm-dvojni-116.png'); }
.double-winder--rotation-117 { background: url('./double/ttm-dvojni-117.png'); }
.double-winder--rotation-118 { background: url('./double/ttm-dvojni-118.png'); }
.double-winder--rotation-119 { background: url('./double/ttm-dvojni-119.png'); }
.double-winder--rotation-120 { background: url('./double/ttm-dvojni-120.png'); }
.double-winder--rotation-121 { background: url('./double/ttm-dvojni-121.png'); }
.double-winder--rotation-122 { background: url('./double/ttm-dvojni-122.png'); }
.double-winder--rotation-123 { background: url('./double/ttm-dvojni-123.png'); }
.double-winder--rotation-124 { background: url('./double/ttm-dvojni-124.png'); }
.double-winder--rotation-125 { background: url('./double/ttm-dvojni-125.png'); }
.double-winder--rotation-126 { background: url('./double/ttm-dvojni-126.png'); }
.double-winder--rotation-127 { background: url('./double/ttm-dvojni-127.png'); }
.double-winder--rotation-128 { background: url('./double/ttm-dvojni-128.png'); }
.double-winder--rotation-129 { background: url('./double/ttm-dvojni-129.png'); }
.double-winder--rotation-130 { background: url('./double/ttm-dvojni-130.png'); }
.double-winder--rotation-131 { background: url('./double/ttm-dvojni-131.png'); }
.double-winder--rotation-132 { background: url('./double/ttm-dvojni-132.png'); }
.double-winder--rotation-133 { background: url('./double/ttm-dvojni-133.png'); }
.double-winder--rotation-134 { background: url('./double/ttm-dvojni-134.png'); }
.double-winder--rotation-135 { background: url('./double/ttm-dvojni-135.png'); }
.double-winder--rotation-136 { background: url('./double/ttm-dvojni-136.png'); }
.double-winder--rotation-137 { background: url('./double/ttm-dvojni-137.png'); }
.double-winder--rotation-138 { background: url('./double/ttm-dvojni-138.png'); }
.double-winder--rotation-139 { background: url('./double/ttm-dvojni-139.png'); }
.double-winder--rotation-140 { background: url('./double/ttm-dvojni-140.png'); }
.double-winder--rotation-141 { background: url('./double/ttm-dvojni-141.png'); }
.double-winder--rotation-142 { background: url('./double/ttm-dvojni-142.png'); }
.double-winder--rotation-143 { background: url('./double/ttm-dvojni-143.png'); }
.double-winder--rotation-144 { background: url('./double/ttm-dvojni-144.png'); }
.double-winder--rotation-145 { background: url('./double/ttm-dvojni-145.png'); }
.double-winder--rotation-146 { background: url('./double/ttm-dvojni-146.png'); }
.double-winder--rotation-147 { background: url('./double/ttm-dvojni-147.png'); }
.double-winder--rotation-148 { background: url('./double/ttm-dvojni-148.png'); }
.double-winder--rotation-149 { background: url('./double/ttm-dvojni-149.png'); }
.double-winder--rotation-150 { background: url('./double/ttm-dvojni-150.png'); }
.double-winder--rotation-151 { background: url('./double/ttm-dvojni-151.png'); }
.double-winder--rotation-152 { background: url('./double/ttm-dvojni-152.png'); }
.double-winder--rotation-153 { background: url('./double/ttm-dvojni-153.png'); }
.double-winder--rotation-154 { background: url('./double/ttm-dvojni-154.png'); }
.double-winder--rotation-155 { background: url('./double/ttm-dvojni-155.png'); }
.double-winder--rotation-156 { background: url('./double/ttm-dvojni-156.png'); }
.double-winder--rotation-157 { background: url('./double/ttm-dvojni-157.png'); }
.double-winder--rotation-158 { background: url('./double/ttm-dvojni-158.png'); }
.double-winder--rotation-159 { background: url('./double/ttm-dvojni-159.png'); }
.double-winder--rotation-160 { background: url('./double/ttm-dvojni-160.png'); }
.double-winder--rotation-161 { background: url('./double/ttm-dvojni-161.png'); }
.double-winder--rotation-162 { background: url('./double/ttm-dvojni-162.png'); }
.double-winder--rotation-163 { background: url('./double/ttm-dvojni-163.png'); }
.double-winder--rotation-164 { background: url('./double/ttm-dvojni-164.png'); }
.double-winder--rotation-165 { background: url('./double/ttm-dvojni-165.png'); }
.double-winder--rotation-166 { background: url('./double/ttm-dvojni-166.png'); }
.double-winder--rotation-167 { background: url('./double/ttm-dvojni-167.png'); }
.double-winder--rotation-168 { background: url('./double/ttm-dvojni-168.png'); }
.double-winder--rotation-169 { background: url('./double/ttm-dvojni-169.png'); }
.double-winder--rotation-170 { background: url('./double/ttm-dvojni-170.png'); }
.double-winder--rotation-171 { background: url('./double/ttm-dvojni-171.png'); }
.double-winder--rotation-172 { background: url('./double/ttm-dvojni-172.png'); }
.double-winder--rotation-173 { background: url('./double/ttm-dvojni-173.png'); }
.double-winder--rotation-174 { background: url('./double/ttm-dvojni-174.png'); }
.double-winder--rotation-175 { background: url('./double/ttm-dvojni-175.png'); }
.double-winder--rotation-176 { background: url('./double/ttm-dvojni-176.png'); }
.double-winder--rotation-177 { background: url('./double/ttm-dvojni-177.png'); }
.double-winder--rotation-178 { background: url('./double/ttm-dvojni-178.png'); }
.double-winder--rotation-179 { background: url('./double/ttm-dvojni-179.png'); }
.double-winder--rotation-180 { background: url('./double/ttm-dvojni-180.png'); }
.double-winder--rotation-181 { background: url('./double/ttm-dvojni-181.png'); }
.double-winder--rotation-182 { background: url('./double/ttm-dvojni-182.png'); }
.double-winder--rotation-183 { background: url('./double/ttm-dvojni-183.png'); }
.double-winder--rotation-184 { background: url('./double/ttm-dvojni-184.png'); }
.double-winder--rotation-185 { background: url('./double/ttm-dvojni-185.png'); }
.double-winder--rotation-186 { background: url('./double/ttm-dvojni-186.png'); }
.double-winder--rotation-187 { background: url('./double/ttm-dvojni-187.png'); }
.double-winder--rotation-188 { background: url('./double/ttm-dvojni-188.png'); }
.double-winder--rotation-189 { background: url('./double/ttm-dvojni-189.png'); }
.double-winder--rotation-190 { background: url('./double/ttm-dvojni-190.png'); }
.double-winder--rotation-191 { background: url('./double/ttm-dvojni-191.png'); }
.double-winder--rotation-192 { background: url('./double/ttm-dvojni-192.png'); }
.double-winder--rotation-193 { background: url('./double/ttm-dvojni-193.png'); }
.double-winder--rotation-194 { background: url('./double/ttm-dvojni-194.png'); }
.double-winder--rotation-195 { background: url('./double/ttm-dvojni-195.png'); }
.double-winder--rotation-196 { background: url('./double/ttm-dvojni-196.png'); }
.double-winder--rotation-197 { background: url('./double/ttm-dvojni-197.png'); }
.double-winder--rotation-198 { background: url('./double/ttm-dvojni-198.png'); }
.double-winder--rotation-199 { background: url('./double/ttm-dvojni-199.png'); }
.double-winder--rotation-200 { background: url('./double/ttm-dvojni-200.png'); }
.double-winder--rotation-201 { background: url('./double/ttm-dvojni-201.png'); }
.double-winder--rotation-202 { background: url('./double/ttm-dvojni-202.png'); }
.double-winder--rotation-203 { background: url('./double/ttm-dvojni-203.png'); }
.double-winder--rotation-204 { background: url('./double/ttm-dvojni-204.png'); }
.double-winder--rotation-205 { background: url('./double/ttm-dvojni-205.png'); }
.double-winder--rotation-206 { background: url('./double/ttm-dvojni-206.png'); }
.double-winder--rotation-207 { background: url('./double/ttm-dvojni-207.png'); }
.double-winder--rotation-208 { background: url('./double/ttm-dvojni-208.png'); }
.double-winder--rotation-209 { background: url('./double/ttm-dvojni-209.png'); }
.double-winder--rotation-210 { background: url('./double/ttm-dvojni-210.png'); }
.double-winder--rotation-211 { background: url('./double/ttm-dvojni-211.png'); }
.double-winder--rotation-212 { background: url('./double/ttm-dvojni-212.png'); }
.double-winder--rotation-213 { background: url('./double/ttm-dvojni-213.png'); }
.double-winder--rotation-214 { background: url('./double/ttm-dvojni-214.png'); }
.double-winder--rotation-215 { background: url('./double/ttm-dvojni-215.png'); }
.double-winder--rotation-216 { background: url('./double/ttm-dvojni-216.png'); }
.double-winder--rotation-217 { background: url('./double/ttm-dvojni-217.png'); }
.double-winder--rotation-218 { background: url('./double/ttm-dvojni-218.png'); }
.double-winder--rotation-219 { background: url('./double/ttm-dvojni-219.png'); }
.double-winder--rotation-220 { background: url('./double/ttm-dvojni-220.png'); }
.double-winder--rotation-221 { background: url('./double/ttm-dvojni-221.png'); }
.double-winder--rotation-222 { background: url('./double/ttm-dvojni-222.png'); }
.double-winder--rotation-223 { background: url('./double/ttm-dvojni-223.png'); }
.double-winder--rotation-224 { background: url('./double/ttm-dvojni-224.png'); }
.double-winder--rotation-225 { background: url('./double/ttm-dvojni-225.png'); }
.double-winder--rotation-226 { background: url('./double/ttm-dvojni-226.png'); }
.double-winder--rotation-227 { background: url('./double/ttm-dvojni-227.png'); }
.double-winder--rotation-228 { background: url('./double/ttm-dvojni-228.png'); }
.double-winder--rotation-229 { background: url('./double/ttm-dvojni-229.png'); }
.double-winder--rotation-230 { background: url('./double/ttm-dvojni-230.png'); }
.double-winder--rotation-231 { background: url('./double/ttm-dvojni-231.png'); }
.double-winder--rotation-232 { background: url('./double/ttm-dvojni-232.png'); }
.double-winder--rotation-233 { background: url('./double/ttm-dvojni-233.png'); }
.double-winder--rotation-234 { background: url('./double/ttm-dvojni-234.png'); }
.double-winder--rotation-235 { background: url('./double/ttm-dvojni-235.png'); }
.double-winder--rotation-236 { background: url('./double/ttm-dvojni-236.png'); }
.double-winder--rotation-237 { background: url('./double/ttm-dvojni-237.png'); }
.double-winder--rotation-238 { background: url('./double/ttm-dvojni-238.png'); }
.double-winder--rotation-239 { background: url('./double/ttm-dvojni-239.png'); }
.double-winder--rotation-240 { background: url('./double/ttm-dvojni-240.png'); }
.double-winder--rotation-241 { background: url('./double/ttm-dvojni-241.png'); }
.double-winder--rotation-242 { background: url('./double/ttm-dvojni-242.png'); }
.double-winder--rotation-243 { background: url('./double/ttm-dvojni-243.png'); }
.double-winder--rotation-244 { background: url('./double/ttm-dvojni-244.png'); }
.double-winder--rotation-245 { background: url('./double/ttm-dvojni-245.png'); }
.double-winder--rotation-246 { background: url('./double/ttm-dvojni-246.png'); }
.double-winder--rotation-247 { background: url('./double/ttm-dvojni-247.png'); }
.double-winder--rotation-248 { background: url('./double/ttm-dvojni-248.png'); }
.double-winder--rotation-249 { background: url('./double/ttm-dvojni-249.png'); }
.double-winder--rotation-250 { background: url('./double/ttm-dvojni-250.png'); }
.double-winder--rotation-251 { background: url('./double/ttm-dvojni-251.png'); }
.double-winder--rotation-252 { background: url('./double/ttm-dvojni-252.png'); }
.double-winder--rotation-253 { background: url('./double/ttm-dvojni-253.png'); }
.double-winder--rotation-254 { background: url('./double/ttm-dvojni-254.png'); }
.double-winder--rotation-255 { background: url('./double/ttm-dvojni-255.png'); }
.double-winder--rotation-256 { background: url('./double/ttm-dvojni-256.png'); }
.double-winder--rotation-257 { background: url('./double/ttm-dvojni-257.png'); }
.double-winder--rotation-258 { background: url('./double/ttm-dvojni-258.png'); }
.double-winder--rotation-259 { background: url('./double/ttm-dvojni-259.png'); }
.double-winder--rotation-260 { background: url('./double/ttm-dvojni-260.png'); }
.double-winder--rotation-261 { background: url('./double/ttm-dvojni-261.png'); }
.double-winder--rotation-262 { background: url('./double/ttm-dvojni-262.png'); }
.double-winder--rotation-263 { background: url('./double/ttm-dvojni-263.png'); }
.double-winder--rotation-264 { background: url('./double/ttm-dvojni-264.png'); }
.double-winder--rotation-265 { background: url('./double/ttm-dvojni-265.png'); }
.double-winder--rotation-266 { background: url('./double/ttm-dvojni-266.png'); }
.double-winder--rotation-267 { background: url('./double/ttm-dvojni-267.png'); }
.double-winder--rotation-268 { background: url('./double/ttm-dvojni-268.png'); }
.double-winder--rotation-269 { background: url('./double/ttm-dvojni-269.png'); }
.double-winder--rotation-270 { background: url('./double/ttm-dvojni-270.png'); }
.double-winder--rotation-271 { background: url('./double/ttm-dvojni-271.png'); }
.double-winder--rotation-272 { background: url('./double/ttm-dvojni-272.png'); }
.double-winder--rotation-273 { background: url('./double/ttm-dvojni-273.png'); }
.double-winder--rotation-274 { background: url('./double/ttm-dvojni-274.png'); }
.double-winder--rotation-275 { background: url('./double/ttm-dvojni-275.png'); }
.double-winder--rotation-276 { background: url('./double/ttm-dvojni-276.png'); }
.double-winder--rotation-277 { background: url('./double/ttm-dvojni-277.png'); }
.double-winder--rotation-278 { background: url('./double/ttm-dvojni-278.png'); }
.double-winder--rotation-279 { background: url('./double/ttm-dvojni-279.png'); }
.double-winder--rotation-280 { background: url('./double/ttm-dvojni-280.png'); }
.double-winder--rotation-281 { background: url('./double/ttm-dvojni-281.png'); }
.double-winder--rotation-282 { background: url('./double/ttm-dvojni-282.png'); }
.double-winder--rotation-283 { background: url('./double/ttm-dvojni-283.png'); }
.double-winder--rotation-284 { background: url('./double/ttm-dvojni-284.png'); }
.double-winder--rotation-285 { background: url('./double/ttm-dvojni-285.png'); }
.double-winder--rotation-286 { background: url('./double/ttm-dvojni-286.png'); }
.double-winder--rotation-287 { background: url('./double/ttm-dvojni-287.png'); }
.double-winder--rotation-288 { background: url('./double/ttm-dvojni-288.png'); }
.double-winder--rotation-289 { background: url('./double/ttm-dvojni-289.png'); }
.double-winder--rotation-290 { background: url('./double/ttm-dvojni-290.png'); }
.double-winder--rotation-291 { background: url('./double/ttm-dvojni-291.png'); }
.double-winder--rotation-292 { background: url('./double/ttm-dvojni-292.png'); }
.double-winder--rotation-293 { background: url('./double/ttm-dvojni-293.png'); }
.double-winder--rotation-294 { background: url('./double/ttm-dvojni-294.png'); }
.double-winder--rotation-295 { background: url('./double/ttm-dvojni-295.png'); }
.double-winder--rotation-296 { background: url('./double/ttm-dvojni-296.png'); }
.double-winder--rotation-297 { background: url('./double/ttm-dvojni-297.png'); }
.double-winder--rotation-298 { background: url('./double/ttm-dvojni-298.png'); }
.double-winder--rotation-299 { background: url('./double/ttm-dvojni-299.png'); }
.double-winder--rotation-300 { background: url('./double/ttm-dvojni-300.png'); }
.double-winder--rotation-301 { background: url('./double/ttm-dvojni-301.png'); }
.double-winder--rotation-302 { background: url('./double/ttm-dvojni-302.png'); }
.double-winder--rotation-303 { background: url('./double/ttm-dvojni-303.png'); }
.double-winder--rotation-304 { background: url('./double/ttm-dvojni-304.png'); }
.double-winder--rotation-305 { background: url('./double/ttm-dvojni-305.png'); }
.double-winder--rotation-306 { background: url('./double/ttm-dvojni-306.png'); }
.double-winder--rotation-307 { background: url('./double/ttm-dvojni-307.png'); }
.double-winder--rotation-308 { background: url('./double/ttm-dvojni-308.png'); }
.double-winder--rotation-309 { background: url('./double/ttm-dvojni-309.png'); }
.double-winder--rotation-310 { background: url('./double/ttm-dvojni-310.png'); }
.double-winder--rotation-311 { background: url('./double/ttm-dvojni-311.png'); }
.double-winder--rotation-312 { background: url('./double/ttm-dvojni-312.png'); }
.double-winder--rotation-313 { background: url('./double/ttm-dvojni-313.png'); }
.double-winder--rotation-314 { background: url('./double/ttm-dvojni-314.png'); }
.double-winder--rotation-315 { background: url('./double/ttm-dvojni-315.png'); }
.double-winder--rotation-316 { background: url('./double/ttm-dvojni-316.png'); }
.double-winder--rotation-317 { background: url('./double/ttm-dvojni-317.png'); }
