.single-winder-rotation {
  background-size: contain;
  background-repeat: no-repeat;
  /* background-image: url('./single-winder/TTM-Mark-6.32.png'); */
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.single-winder-rotation--1 {
  background-image: url('./single-winder/TTM-Mark-6.1.png');
}

.single-winder-rotation--2 {
  background-image: url('./single-winder/TTM-Mark-6.2.png');
}

.single-winder-rotation--3 {
  background-image: url('./single-winder/TTM-Mark-6.3.png');
}

.single-winder-rotation--4 {
  background-image: url('./single-winder/TTM-Mark-6.4.png');
}

.single-winder-rotation--5 {
  background-image: url('./single-winder/TTM-Mark-6.5.png');
}

.single-winder-rotation--6 {
  background-image: url('./single-winder/TTM-Mark-6.6.png');
}

.single-winder-rotation--7 {
  background-image: url('./single-winder/TTM-Mark-6.7.png');
}

.single-winder-rotation--8 {
  background-image: url('./single-winder/TTM-Mark-6.8.png');
}

.single-winder-rotation--9 {
  background-image: url('./single-winder/TTM-Mark-6.9.png');
}

.single-winder-rotation--10 {
  background-image: url('./single-winder/TTM-Mark-6.10.png');
}

.single-winder-rotation--11 {
  background-image: url('./single-winder/TTM-Mark-6.11.png');
}

.single-winder-rotation--12 {
  background-image: url('./single-winder/TTM-Mark-6.12.png');
}

.single-winder-rotation--13 {
  background-image: url('./single-winder/TTM-Mark-6.13.png');
}

.single-winder-rotation--14 {
  background-image: url('./single-winder/TTM-Mark-6.14.png');
}

.single-winder-rotation--15 {
  background-image: url('./single-winder/TTM-Mark-6.15.png');
}

.single-winder-rotation--16 {
  background-image: url('./single-winder/TTM-Mark-6.16.png');
}

.single-winder-rotation--17 {
  background-image: url('./single-winder/TTM-Mark-6.17.png');
}

.single-winder-rotation--18 {
  background-image: url('./single-winder/TTM-Mark-6.18.png');
}

.single-winder-rotation--19 {
  background-image: url('./single-winder/TTM-Mark-6.19.png');
}

.single-winder-rotation--20 {
  background-image: url('./single-winder/TTM-Mark-6.20.png');
}

.single-winder-rotation--21 {
  background-image: url('./single-winder/TTM-Mark-6.21.png');
}

.single-winder-rotation--22 {
  background-image: url('./single-winder/TTM-Mark-6.22.png');
}

.single-winder-rotation--23 {
  background-image: url('./single-winder/TTM-Mark-6.23.png');
}

.single-winder-rotation--24 {
  background-image: url('./single-winder/TTM-Mark-6.24.png');
}

.single-winder-rotation--25 {
  background-image: url('./single-winder/TTM-Mark-6.25.png');
}

.single-winder-rotation--26 {
  background-image: url('./single-winder/TTM-Mark-6.26.png');
}

.single-winder-rotation--27 {
  background-image: url('./single-winder/TTM-Mark-6.27.png');
}

.single-winder-rotation--28 {
  background-image: url('./single-winder/TTM-Mark-6.28.png');
}

.single-winder-rotation--29 {
  background-image: url('./single-winder/TTM-Mark-6.29.png');
}

.single-winder-rotation--30 {
  background-image: url('./single-winder/TTM-Mark-6.30.png');
}

.single-winder-rotation--31 {
  background-image: url('./single-winder/TTM-Mark-6.31.png');
}

.single-winder-rotation--32 {
  background-image: url('./single-winder/TTM-Mark-6.32.png');
}

.single-winder-rotation--33 {
  background-image: url('./single-winder/TTM-Mark-6.33.png');
}

.single-winder-rotation--34 {
  background-image: url('./single-winder/TTM-Mark-6.34.png');
}

.single-winder-rotation--35 {
  background-image: url('./single-winder/TTM-Mark-6.35.png');
}

.single-winder-rotation--36 {
  background-image: url('./single-winder/TTM-Mark-6.36.png');
}