.single-winder-rotation--1 { background-image: url('./single-winder/ttm-single-1.png'); }
.single-winder-rotation--2 { background-image: url('./single-winder/ttm-single-2.png'); }
.single-winder-rotation--3 { background-image: url('./single-winder/ttm-single-3.png'); }
.single-winder-rotation--4 { background-image: url('./single-winder/ttm-single-4.png'); }
.single-winder-rotation--5 { background-image: url('./single-winder/ttm-single-5.png'); }
.single-winder-rotation--6 { background-image: url('./single-winder/ttm-single-6.png'); }
.single-winder-rotation--7 { background-image: url('./single-winder/ttm-single-7.png'); }
.single-winder-rotation--8 { background-image: url('./single-winder/ttm-single-8.png'); }
.single-winder-rotation--9 { background-image: url('./single-winder/ttm-single-9.png'); }
.single-winder-rotation--10 { background-image: url('./single-winder/ttm-single-10.png'); }
.single-winder-rotation--11 { background-image: url('./single-winder/ttm-single-11.png'); }
.single-winder-rotation--12 { background-image: url('./single-winder/ttm-single-12.png'); }
.single-winder-rotation--13 { background-image: url('./single-winder/ttm-single-13.png'); }
.single-winder-rotation--14 { background-image: url('./single-winder/ttm-single-14.png'); }
.single-winder-rotation--15 { background-image: url('./single-winder/ttm-single-15.png'); }
.single-winder-rotation--16 { background-image: url('./single-winder/ttm-single-16.png'); }
.single-winder-rotation--17 { background-image: url('./single-winder/ttm-single-17.png'); }
.single-winder-rotation--18 { background-image: url('./single-winder/ttm-single-18.png'); }
.single-winder-rotation--19 { background-image: url('./single-winder/ttm-single-19.png'); }
.single-winder-rotation--20 { background-image: url('./single-winder/ttm-single-20.png'); }
.single-winder-rotation--21 { background-image: url('./single-winder/ttm-single-21.png'); }
.single-winder-rotation--22 { background-image: url('./single-winder/ttm-single-22.png'); }
.single-winder-rotation--23 { background-image: url('./single-winder/ttm-single-23.png'); }
.single-winder-rotation--24 { background-image: url('./single-winder/ttm-single-24.png'); }
.single-winder-rotation--25 { background-image: url('./single-winder/ttm-single-25.png'); }
.single-winder-rotation--26 { background-image: url('./single-winder/ttm-single-26.png'); }
.single-winder-rotation--27 { background-image: url('./single-winder/ttm-single-27.png'); }
.single-winder-rotation--28 { background-image: url('./single-winder/ttm-single-28.png'); }
.single-winder-rotation--29 { background-image: url('./single-winder/ttm-single-29.png'); }
.single-winder-rotation--30 { background-image: url('./single-winder/ttm-single-30.png'); }
.single-winder-rotation--31 { background-image: url('./single-winder/ttm-single-31.png'); }
.single-winder-rotation--32 { background-image: url('./single-winder/ttm-single-32.png'); }
.single-winder-rotation--33 { background-image: url('./single-winder/ttm-single-33.png'); }
.single-winder-rotation--34 { background-image: url('./single-winder/ttm-single-34.png'); }
.single-winder-rotation--35 { background-image: url('./single-winder/ttm-single-35.png'); }
.single-winder-rotation--36 { background-image: url('./single-winder/ttm-single-36.png'); }
.single-winder-rotation--37 { background-image: url('./single-winder/ttm-single-37.png'); }
.single-winder-rotation--38 { background-image: url('./single-winder/ttm-single-38.png'); }
.single-winder-rotation--39 { background-image: url('./single-winder/ttm-single-39.png'); }
.single-winder-rotation--40 { background-image: url('./single-winder/ttm-single-40.png'); }
.single-winder-rotation--41 { background-image: url('./single-winder/ttm-single-41.png'); }
.single-winder-rotation--42 { background-image: url('./single-winder/ttm-single-42.png'); }
.single-winder-rotation--43 { background-image: url('./single-winder/ttm-single-43.png'); }
.single-winder-rotation--44 { background-image: url('./single-winder/ttm-single-44.png'); }
.single-winder-rotation--45 { background-image: url('./single-winder/ttm-single-45.png'); }
.single-winder-rotation--46 { background-image: url('./single-winder/ttm-single-46.png'); }
.single-winder-rotation--47 { background-image: url('./single-winder/ttm-single-47.png'); }
.single-winder-rotation--48 { background-image: url('./single-winder/ttm-single-48.png'); }
.single-winder-rotation--49 { background-image: url('./single-winder/ttm-single-49.png'); }
.single-winder-rotation--50 { background-image: url('./single-winder/ttm-single-50.png'); }
.single-winder-rotation--51 { background-image: url('./single-winder/ttm-single-51.png'); }
.single-winder-rotation--52 { background-image: url('./single-winder/ttm-single-52.png'); }
.single-winder-rotation--53 { background-image: url('./single-winder/ttm-single-53.png'); }
.single-winder-rotation--54 { background-image: url('./single-winder/ttm-single-54.png'); }
.single-winder-rotation--55 { background-image: url('./single-winder/ttm-single-55.png'); }
.single-winder-rotation--56 { background-image: url('./single-winder/ttm-single-56.png'); }
.single-winder-rotation--57 { background-image: url('./single-winder/ttm-single-57.png'); }
.single-winder-rotation--58 { background-image: url('./single-winder/ttm-single-58.png'); }
.single-winder-rotation--59 { background-image: url('./single-winder/ttm-single-59.png'); }
.single-winder-rotation--60 { background-image: url('./single-winder/ttm-single-60.png'); }
.single-winder-rotation--61 { background-image: url('./single-winder/ttm-single-61.png'); }
.single-winder-rotation--62 { background-image: url('./single-winder/ttm-single-62.png'); }
.single-winder-rotation--63 { background-image: url('./single-winder/ttm-single-63.png'); }
.single-winder-rotation--64 { background-image: url('./single-winder/ttm-single-64.png'); }
.single-winder-rotation--65 { background-image: url('./single-winder/ttm-single-65.png'); }
.single-winder-rotation--66 { background-image: url('./single-winder/ttm-single-66.png'); }
.single-winder-rotation--67 { background-image: url('./single-winder/ttm-single-67.png'); }
.single-winder-rotation--68 { background-image: url('./single-winder/ttm-single-68.png'); }
.single-winder-rotation--69 { background-image: url('./single-winder/ttm-single-69.png'); }
.single-winder-rotation--70 { background-image: url('./single-winder/ttm-single-70.png'); }
.single-winder-rotation--71 { background-image: url('./single-winder/ttm-single-71.png'); }
.single-winder-rotation--72 { background-image: url('./single-winder/ttm-single-72.png'); }
.single-winder-rotation--73 { background-image: url('./single-winder/ttm-single-73.png'); }
.single-winder-rotation--74 { background-image: url('./single-winder/ttm-single-74.png'); }
.single-winder-rotation--75 { background-image: url('./single-winder/ttm-single-75.png'); }
.single-winder-rotation--76 { background-image: url('./single-winder/ttm-single-76.png'); }
.single-winder-rotation--77 { background-image: url('./single-winder/ttm-single-77.png'); }
.single-winder-rotation--78 { background-image: url('./single-winder/ttm-single-78.png'); }
.single-winder-rotation--79 { background-image: url('./single-winder/ttm-single-79.png'); }
.single-winder-rotation--80 { background-image: url('./single-winder/ttm-single-80.png'); }
.single-winder-rotation--81 { background-image: url('./single-winder/ttm-single-81.png'); }
.single-winder-rotation--82 { background-image: url('./single-winder/ttm-single-82.png'); }
.single-winder-rotation--83 { background-image: url('./single-winder/ttm-single-83.png'); }
.single-winder-rotation--84 { background-image: url('./single-winder/ttm-single-84.png'); }
.single-winder-rotation--85 { background-image: url('./single-winder/ttm-single-85.png'); }
.single-winder-rotation--86 { background-image: url('./single-winder/ttm-single-86.png'); }
.single-winder-rotation--87 { background-image: url('./single-winder/ttm-single-87.png'); }
.single-winder-rotation--88 { background-image: url('./single-winder/ttm-single-88.png'); }
.single-winder-rotation--89 { background-image: url('./single-winder/ttm-single-89.png'); }
.single-winder-rotation--90 { background-image: url('./single-winder/ttm-single-90.png'); }
.single-winder-rotation--91 { background-image: url('./single-winder/ttm-single-91.png'); }
.single-winder-rotation--92 { background-image: url('./single-winder/ttm-single-92.png'); }
.single-winder-rotation--93 { background-image: url('./single-winder/ttm-single-93.png'); }
.single-winder-rotation--94 { background-image: url('./single-winder/ttm-single-94.png'); }
.single-winder-rotation--95 { background-image: url('./single-winder/ttm-single-95.png'); }
.single-winder-rotation--96 { background-image: url('./single-winder/ttm-single-96.png'); }
.single-winder-rotation--97 { background-image: url('./single-winder/ttm-single-97.png'); }
.single-winder-rotation--98 { background-image: url('./single-winder/ttm-single-98.png'); }
.single-winder-rotation--99 { background-image: url('./single-winder/ttm-single-99.png'); }
.single-winder-rotation--100 { background-image: url('./single-winder/ttm-single-100.png'); }
.single-winder-rotation--101 { background-image: url('./single-winder/ttm-single-101.png'); }
.single-winder-rotation--102 { background-image: url('./single-winder/ttm-single-102.png'); }
.single-winder-rotation--103 { background-image: url('./single-winder/ttm-single-103.png'); }
.single-winder-rotation--104 { background-image: url('./single-winder/ttm-single-104.png'); }
.single-winder-rotation--105 { background-image: url('./single-winder/ttm-single-105.png'); }
.single-winder-rotation--106 { background-image: url('./single-winder/ttm-single-106.png'); }
.single-winder-rotation--107 { background-image: url('./single-winder/ttm-single-107.png'); }
.single-winder-rotation--108 { background-image: url('./single-winder/ttm-single-108.png'); }
.single-winder-rotation--109 { background-image: url('./single-winder/ttm-single-109.png'); }
.single-winder-rotation--110 { background-image: url('./single-winder/ttm-single-110.png'); }
.single-winder-rotation--111 { background-image: url('./single-winder/ttm-single-111.png'); }
.single-winder-rotation--112 { background-image: url('./single-winder/ttm-single-112.png'); }
.single-winder-rotation--113 { background-image: url('./single-winder/ttm-single-113.png'); }
.single-winder-rotation--114 { background-image: url('./single-winder/ttm-single-114.png'); }
.single-winder-rotation--115 { background-image: url('./single-winder/ttm-single-115.png'); }
.single-winder-rotation--116 { background-image: url('./single-winder/ttm-single-116.png'); }
.single-winder-rotation--117 { background-image: url('./single-winder/ttm-single-117.png'); }
.single-winder-rotation--118 { background-image: url('./single-winder/ttm-single-118.png'); }
.single-winder-rotation--119 { background-image: url('./single-winder/ttm-single-119.png'); }
.single-winder-rotation--120 { background-image: url('./single-winder/ttm-single-120.png'); }
.single-winder-rotation--121 { background-image: url('./single-winder/ttm-single-121.png'); }
.single-winder-rotation--122 { background-image: url('./single-winder/ttm-single-122.png'); }
.single-winder-rotation--123 { background-image: url('./single-winder/ttm-single-123.png'); }
.single-winder-rotation--124 { background-image: url('./single-winder/ttm-single-124.png'); }
.single-winder-rotation--125 { background-image: url('./single-winder/ttm-single-125.png'); }
.single-winder-rotation--126 { background-image: url('./single-winder/ttm-single-126.png'); }
.single-winder-rotation--127 { background-image: url('./single-winder/ttm-single-127.png'); }
.single-winder-rotation--128 { background-image: url('./single-winder/ttm-single-128.png'); }
.single-winder-rotation--129 { background-image: url('./single-winder/ttm-single-129.png'); }
.single-winder-rotation--130 { background-image: url('./single-winder/ttm-single-130.png'); }
.single-winder-rotation--131 { background-image: url('./single-winder/ttm-single-131.png'); }
.single-winder-rotation--132 { background-image: url('./single-winder/ttm-single-132.png'); }
.single-winder-rotation--133 { background-image: url('./single-winder/ttm-single-133.png'); }
.single-winder-rotation--134 { background-image: url('./single-winder/ttm-single-134.png'); }
.single-winder-rotation--135 { background-image: url('./single-winder/ttm-single-135.png'); }
.single-winder-rotation--136 { background-image: url('./single-winder/ttm-single-136.png'); }
.single-winder-rotation--137 { background-image: url('./single-winder/ttm-single-137.png'); }
.single-winder-rotation--138 { background-image: url('./single-winder/ttm-single-138.png'); }
.single-winder-rotation--139 { background-image: url('./single-winder/ttm-single-139.png'); }
.single-winder-rotation--140 { background-image: url('./single-winder/ttm-single-140.png'); }
.single-winder-rotation--141 { background-image: url('./single-winder/ttm-single-141.png'); }
.single-winder-rotation--142 { background-image: url('./single-winder/ttm-single-142.png'); }
.single-winder-rotation--143 { background-image: url('./single-winder/ttm-single-143.png'); }
.single-winder-rotation--144 { background-image: url('./single-winder/ttm-single-144.png'); }
.single-winder-rotation--145 { background-image: url('./single-winder/ttm-single-145.png'); }
.single-winder-rotation--146 { background-image: url('./single-winder/ttm-single-146.png'); }
.single-winder-rotation--147 { background-image: url('./single-winder/ttm-single-147.png'); }
.single-winder-rotation--148 { background-image: url('./single-winder/ttm-single-148.png'); }
.single-winder-rotation--149 { background-image: url('./single-winder/ttm-single-149.png'); }
.single-winder-rotation--150 { background-image: url('./single-winder/ttm-single-150.png'); }
.single-winder-rotation--151 { background-image: url('./single-winder/ttm-single-151.png'); }
.single-winder-rotation--152 { background-image: url('./single-winder/ttm-single-152.png'); }
.single-winder-rotation--153 { background-image: url('./single-winder/ttm-single-153.png'); }
.single-winder-rotation--154 { background-image: url('./single-winder/ttm-single-154.png'); }
.single-winder-rotation--155 { background-image: url('./single-winder/ttm-single-155.png'); }
.single-winder-rotation--156 { background-image: url('./single-winder/ttm-single-156.png'); }
.single-winder-rotation--157 { background-image: url('./single-winder/ttm-single-157.png'); }
.single-winder-rotation--158 { background-image: url('./single-winder/ttm-single-158.png'); }
.single-winder-rotation--159 { background-image: url('./single-winder/ttm-single-159.png'); }
.single-winder-rotation--160 { background-image: url('./single-winder/ttm-single-160.png'); }
.single-winder-rotation--161 { background-image: url('./single-winder/ttm-single-161.png'); }
.single-winder-rotation--162 { background-image: url('./single-winder/ttm-single-162.png'); }
.single-winder-rotation--163 { background-image: url('./single-winder/ttm-single-163.png'); }
.single-winder-rotation--164 { background-image: url('./single-winder/ttm-single-164.png'); }
.single-winder-rotation--165 { background-image: url('./single-winder/ttm-single-165.png'); }
.single-winder-rotation--166 { background-image: url('./single-winder/ttm-single-166.png'); }
.single-winder-rotation--167 { background-image: url('./single-winder/ttm-single-167.png'); }
.single-winder-rotation--168 { background-image: url('./single-winder/ttm-single-168.png'); }
.single-winder-rotation--169 { background-image: url('./single-winder/ttm-single-169.png'); }
.single-winder-rotation--170 { background-image: url('./single-winder/ttm-single-170.png'); }
.single-winder-rotation--171 { background-image: url('./single-winder/ttm-single-171.png'); }
.single-winder-rotation--172 { background-image: url('./single-winder/ttm-single-172.png'); }
.single-winder-rotation--173 { background-image: url('./single-winder/ttm-single-173.png'); }
.single-winder-rotation--174 { background-image: url('./single-winder/ttm-single-174.png'); }
.single-winder-rotation--175 { background-image: url('./single-winder/ttm-single-175.png'); }
.single-winder-rotation--176 { background-image: url('./single-winder/ttm-single-176.png'); }
.single-winder-rotation--177 { background-image: url('./single-winder/ttm-single-177.png'); }
.single-winder-rotation--178 { background-image: url('./single-winder/ttm-single-178.png'); }
.single-winder-rotation--179 { background-image: url('./single-winder/ttm-single-179.png'); }
.single-winder-rotation--180 { background-image: url('./single-winder/ttm-single-180.png'); }
.single-winder-rotation--181 { background-image: url('./single-winder/ttm-single-181.png'); }
.single-winder-rotation--182 { background-image: url('./single-winder/ttm-single-182.png'); }
.single-winder-rotation--183 { background-image: url('./single-winder/ttm-single-183.png'); }
.single-winder-rotation--184 { background-image: url('./single-winder/ttm-single-184.png'); }
.single-winder-rotation--185 { background-image: url('./single-winder/ttm-single-185.png'); }
.single-winder-rotation--186 { background-image: url('./single-winder/ttm-single-186.png'); }
.single-winder-rotation--187 { background-image: url('./single-winder/ttm-single-187.png'); }
.single-winder-rotation--188 { background-image: url('./single-winder/ttm-single-188.png'); }
.single-winder-rotation--189 { background-image: url('./single-winder/ttm-single-189.png'); }
.single-winder-rotation--190 { background-image: url('./single-winder/ttm-single-190.png'); }
.single-winder-rotation--191 { background-image: url('./single-winder/ttm-single-191.png'); }
.single-winder-rotation--192 { background-image: url('./single-winder/ttm-single-192.png'); }
.single-winder-rotation--193 { background-image: url('./single-winder/ttm-single-193.png'); }
.single-winder-rotation--194 { background-image: url('./single-winder/ttm-single-194.png'); }
.single-winder-rotation--195 { background-image: url('./single-winder/ttm-single-195.png'); }
.single-winder-rotation--196 { background-image: url('./single-winder/ttm-single-196.png'); }
.single-winder-rotation--197 { background-image: url('./single-winder/ttm-single-197.png'); }
.single-winder-rotation--198 { background-image: url('./single-winder/ttm-single-198.png'); }
.single-winder-rotation--199 { background-image: url('./single-winder/ttm-single-199.png'); }
.single-winder-rotation--200 { background-image: url('./single-winder/ttm-single-200.png'); }
.single-winder-rotation--201 { background-image: url('./single-winder/ttm-single-201.png'); }
.single-winder-rotation--202 { background-image: url('./single-winder/ttm-single-202.png'); }
.single-winder-rotation--203 { background-image: url('./single-winder/ttm-single-203.png'); }
.single-winder-rotation--204 { background-image: url('./single-winder/ttm-single-204.png'); }
.single-winder-rotation--205 { background-image: url('./single-winder/ttm-single-205.png'); }
.single-winder-rotation--206 { background-image: url('./single-winder/ttm-single-206.png'); }
.single-winder-rotation--207 { background-image: url('./single-winder/ttm-single-207.png'); }
.single-winder-rotation--208 { background-image: url('./single-winder/ttm-single-208.png'); }
.single-winder-rotation--209 { background-image: url('./single-winder/ttm-single-209.png'); }
.single-winder-rotation--210 { background-image: url('./single-winder/ttm-single-210.png'); }
.single-winder-rotation--211 { background-image: url('./single-winder/ttm-single-211.png'); }
.single-winder-rotation--212 { background-image: url('./single-winder/ttm-single-212.png'); }
.single-winder-rotation--213 { background-image: url('./single-winder/ttm-single-213.png'); }
.single-winder-rotation--214 { background-image: url('./single-winder/ttm-single-214.png'); }
.single-winder-rotation--215 { background-image: url('./single-winder/ttm-single-215.png'); }
.single-winder-rotation--216 { background-image: url('./single-winder/ttm-single-216.png'); }
.single-winder-rotation--217 { background-image: url('./single-winder/ttm-single-217.png'); }
.single-winder-rotation--218 { background-image: url('./single-winder/ttm-single-218.png'); }
.single-winder-rotation--219 { background-image: url('./single-winder/ttm-single-219.png'); }
.single-winder-rotation--220 { background-image: url('./single-winder/ttm-single-220.png'); }
.single-winder-rotation--221 { background-image: url('./single-winder/ttm-single-221.png'); }
.single-winder-rotation--222 { background-image: url('./single-winder/ttm-single-222.png'); }
.single-winder-rotation--223 { background-image: url('./single-winder/ttm-single-223.png'); }
.single-winder-rotation--224 { background-image: url('./single-winder/ttm-single-224.png'); }
.single-winder-rotation--225 { background-image: url('./single-winder/ttm-single-225.png'); }
.single-winder-rotation--226 { background-image: url('./single-winder/ttm-single-226.png'); }
.single-winder-rotation--227 { background-image: url('./single-winder/ttm-single-227.png'); }
.single-winder-rotation--228 { background-image: url('./single-winder/ttm-single-228.png'); }
.single-winder-rotation--229 { background-image: url('./single-winder/ttm-single-229.png'); }
.single-winder-rotation--230 { background-image: url('./single-winder/ttm-single-230.png'); }
.single-winder-rotation--231 { background-image: url('./single-winder/ttm-single-231.png'); }
.single-winder-rotation--232 { background-image: url('./single-winder/ttm-single-232.png'); }
.single-winder-rotation--233 { background-image: url('./single-winder/ttm-single-233.png'); }
.single-winder-rotation--234 { background-image: url('./single-winder/ttm-single-234.png'); }
.single-winder-rotation--235 { background-image: url('./single-winder/ttm-single-235.png'); }
.single-winder-rotation--236 { background-image: url('./single-winder/ttm-single-236.png'); }
.single-winder-rotation--237 { background-image: url('./single-winder/ttm-single-237.png'); }
.single-winder-rotation--238 { background-image: url('./single-winder/ttm-single-238.png'); }
.single-winder-rotation--239 { background-image: url('./single-winder/ttm-single-239.png'); }
.single-winder-rotation--240 { background-image: url('./single-winder/ttm-single-240.png'); }
.single-winder-rotation--241 { background-image: url('./single-winder/ttm-single-241.png'); }
.single-winder-rotation--242 { background-image: url('./single-winder/ttm-single-242.png'); }
.single-winder-rotation--243 { background-image: url('./single-winder/ttm-single-243.png'); }
.single-winder-rotation--244 { background-image: url('./single-winder/ttm-single-244.png'); }
.single-winder-rotation--245 { background-image: url('./single-winder/ttm-single-245.png'); }
.single-winder-rotation--246 { background-image: url('./single-winder/ttm-single-246.png'); }
.single-winder-rotation--247 { background-image: url('./single-winder/ttm-single-247.png'); }
.single-winder-rotation--248 { background-image: url('./single-winder/ttm-single-248.png'); }
.single-winder-rotation--249 { background-image: url('./single-winder/ttm-single-249.png'); }
.single-winder-rotation--250 { background-image: url('./single-winder/ttm-single-250.png'); }
.single-winder-rotation--251 { background-image: url('./single-winder/ttm-single-251.png'); }
.single-winder-rotation--252 { background-image: url('./single-winder/ttm-single-252.png'); }
.single-winder-rotation--253 { background-image: url('./single-winder/ttm-single-253.png'); }
.single-winder-rotation--254 { background-image: url('./single-winder/ttm-single-254.png'); }
.single-winder-rotation--255 { background-image: url('./single-winder/ttm-single-255.png'); }
.single-winder-rotation--256 { background-image: url('./single-winder/ttm-single-256.png'); }
.single-winder-rotation--257 { background-image: url('./single-winder/ttm-single-257.png'); }
.single-winder-rotation--258 { background-image: url('./single-winder/ttm-single-258.png'); }
.single-winder-rotation--259 { background-image: url('./single-winder/ttm-single-259.png'); }
.single-winder-rotation--260 { background-image: url('./single-winder/ttm-single-260.png'); }
.single-winder-rotation--261 { background-image: url('./single-winder/ttm-single-261.png'); }
.single-winder-rotation--262 { background-image: url('./single-winder/ttm-single-262.png'); }
.single-winder-rotation--263 { background-image: url('./single-winder/ttm-single-263.png'); }
.single-winder-rotation--264 { background-image: url('./single-winder/ttm-single-264.png'); }
.single-winder-rotation--265 { background-image: url('./single-winder/ttm-single-265.png'); }
.single-winder-rotation--266 { background-image: url('./single-winder/ttm-single-266.png'); }
.single-winder-rotation--267 { background-image: url('./single-winder/ttm-single-267.png'); }
.single-winder-rotation--268 { background-image: url('./single-winder/ttm-single-268.png'); }
.single-winder-rotation--269 { background-image: url('./single-winder/ttm-single-269.png'); }
.single-winder-rotation--270 { background-image: url('./single-winder/ttm-single-270.png'); }
.single-winder-rotation--271 { background-image: url('./single-winder/ttm-single-271.png'); }
.single-winder-rotation--272 { background-image: url('./single-winder/ttm-single-272.png'); }
.single-winder-rotation--273 { background-image: url('./single-winder/ttm-single-273.png'); }
.single-winder-rotation--274 { background-image: url('./single-winder/ttm-single-274.png'); }
.single-winder-rotation--275 { background-image: url('./single-winder/ttm-single-275.png'); }
.single-winder-rotation--276 { background-image: url('./single-winder/ttm-single-276.png'); }
.single-winder-rotation--277 { background-image: url('./single-winder/ttm-single-277.png'); }
.single-winder-rotation--278 { background-image: url('./single-winder/ttm-single-278.png'); }
.single-winder-rotation--279 { background-image: url('./single-winder/ttm-single-279.png'); }
.single-winder-rotation--280 { background-image: url('./single-winder/ttm-single-280.png'); }
.single-winder-rotation--281 { background-image: url('./single-winder/ttm-single-281.png'); }
.single-winder-rotation--282 { background-image: url('./single-winder/ttm-single-282.png'); }
.single-winder-rotation--283 { background-image: url('./single-winder/ttm-single-283.png'); }
.single-winder-rotation--284 { background-image: url('./single-winder/ttm-single-284.png'); }
.single-winder-rotation--285 { background-image: url('./single-winder/ttm-single-285.png'); }
.single-winder-rotation--286 { background-image: url('./single-winder/ttm-single-286.png'); }
.single-winder-rotation--287 { background-image: url('./single-winder/ttm-single-287.png'); }
.single-winder-rotation--288 { background-image: url('./single-winder/ttm-single-288.png'); }
.single-winder-rotation--289 { background-image: url('./single-winder/ttm-single-289.png'); }
.single-winder-rotation--290 { background-image: url('./single-winder/ttm-single-290.png'); }
.single-winder-rotation--291 { background-image: url('./single-winder/ttm-single-291.png'); }
.single-winder-rotation--292 { background-image: url('./single-winder/ttm-single-292.png'); }
.single-winder-rotation--293 { background-image: url('./single-winder/ttm-single-293.png'); }
.single-winder-rotation--294 { background-image: url('./single-winder/ttm-single-294.png'); }
.single-winder-rotation--295 { background-image: url('./single-winder/ttm-single-295.png'); }
.single-winder-rotation--296 { background-image: url('./single-winder/ttm-single-296.png'); }
.single-winder-rotation--297 { background-image: url('./single-winder/ttm-single-297.png'); }
.single-winder-rotation--298 { background-image: url('./single-winder/ttm-single-298.png'); }
.single-winder-rotation--299 { background-image: url('./single-winder/ttm-single-299.png'); }
.single-winder-rotation--300 { background-image: url('./single-winder/ttm-single-300.png'); }
.single-winder-rotation--301 { background-image: url('./single-winder/ttm-single-301.png'); }
.single-winder-rotation--302 { background-image: url('./single-winder/ttm-single-302.png'); }
.single-winder-rotation--303 { background-image: url('./single-winder/ttm-single-303.png'); }
.single-winder-rotation--304 { background-image: url('./single-winder/ttm-single-304.png'); }
.single-winder-rotation--305 { background-image: url('./single-winder/ttm-single-305.png'); }
.single-winder-rotation--306 { background-image: url('./single-winder/ttm-single-306.png'); }
.single-winder-rotation--307 { background-image: url('./single-winder/ttm-single-307.png'); }
.single-winder-rotation--308 { background-image: url('./single-winder/ttm-single-308.png'); }
.single-winder-rotation--309 { background-image: url('./single-winder/ttm-single-309.png'); }
.single-winder-rotation--310 { background-image: url('./single-winder/ttm-single-310.png'); }
.single-winder-rotation--311 { background-image: url('./single-winder/ttm-single-311.png'); }
.single-winder-rotation--312 { background-image: url('./single-winder/ttm-single-312.png'); }
.single-winder-rotation--313 { background-image: url('./single-winder/ttm-single-313.png'); }
.single-winder-rotation--314 { background-image: url('./single-winder/ttm-single-314.png'); }
.single-winder-rotation--315 { background-image: url('./single-winder/ttm-single-315.png'); }
.single-winder-rotation--316 { background-image: url('./single-winder/ttm-single-316.png'); }
.single-winder-rotation--317 { background-image: url('./single-winder/ttm-single-317.png'); }
.single-winder-rotation--318 { background-image: url('./single-winder/ttm-single-318.png'); }
.single-winder-rotation--319 { background-image: url('./single-winder/ttm-single-319.png'); }
.single-winder-rotation--320 { background-image: url('./single-winder/ttm-single-320.png'); }
.single-winder-rotation--321 { background-image: url('./single-winder/ttm-single-321.png'); }
.single-winder-rotation--322 { background-image: url('./single-winder/ttm-single-322.png'); }
.single-winder-rotation--323 { background-image: url('./single-winder/ttm-single-323.png'); }
.single-winder-rotation--324 { background-image: url('./single-winder/ttm-single-324.png'); }
.single-winder-rotation--325 { background-image: url('./single-winder/ttm-single-325.png'); }
.single-winder-rotation--326 { background-image: url('./single-winder/ttm-single-326.png'); }
.single-winder-rotation--327 { background-image: url('./single-winder/ttm-single-327.png'); }
.single-winder-rotation--328 { background-image: url('./single-winder/ttm-single-328.png'); }
.single-winder-rotation--329 { background-image: url('./single-winder/ttm-single-329.png'); }
.single-winder-rotation--330 { background-image: url('./single-winder/ttm-single-330.png'); }
.single-winder-rotation--331 { background-image: url('./single-winder/ttm-single-331.png'); }
.single-winder-rotation--332 { background-image: url('./single-winder/ttm-single-332.png'); }
.single-winder-rotation--333 { background-image: url('./single-winder/ttm-single-333.png'); }
.single-winder-rotation--334 { background-image: url('./single-winder/ttm-single-334.png'); }
.single-winder-rotation--335 { background-image: url('./single-winder/ttm-single-335.png'); }
.single-winder-rotation--336 { background-image: url('./single-winder/ttm-single-336.png'); }
.single-winder-rotation--337 { background-image: url('./single-winder/ttm-single-337.png'); }
.single-winder-rotation--338 { background-image: url('./single-winder/ttm-single-338.png'); }
.single-winder-rotation--339 { background-image: url('./single-winder/ttm-single-339.png'); }
.single-winder-rotation--340 { background-image: url('./single-winder/ttm-single-340.png'); }
.single-winder-rotation--341 { background-image: url('./single-winder/ttm-single-341.png'); }
.single-winder-rotation--342 { background-image: url('./single-winder/ttm-single-342.png'); }
.single-winder-rotation--343 { background-image: url('./single-winder/ttm-single-343.png'); }
.single-winder-rotation--344 { background-image: url('./single-winder/ttm-single-344.png'); }
.single-winder-rotation--345 { background-image: url('./single-winder/ttm-single-345.png'); }
.single-winder-rotation--346 { background-image: url('./single-winder/ttm-single-346.png'); }
.single-winder-rotation--347 { background-image: url('./single-winder/ttm-single-347.png'); }
.single-winder-rotation--348 { background-image: url('./single-winder/ttm-single-348.png'); }
.single-winder-rotation--349 { background-image: url('./single-winder/ttm-single-349.png'); }
.single-winder-rotation--350 { background-image: url('./single-winder/ttm-single-350.png'); }
.single-winder-rotation--351 { background-image: url('./single-winder/ttm-single-351.png'); }
.single-winder-rotation--352 { background-image: url('./single-winder/ttm-single-352.png'); }
.single-winder-rotation--353 { background-image: url('./single-winder/ttm-single-353.png'); }
.single-winder-rotation--354 { background-image: url('./single-winder/ttm-single-354.png'); }
.single-winder-rotation--355 { background-image: url('./single-winder/ttm-single-355.png'); }
.single-winder-rotation--356 { background-image: url('./single-winder/ttm-single-356.png'); }
.single-winder-rotation--357 { background-image: url('./single-winder/ttm-single-357.png'); }
.single-winder-rotation--358 { background-image: url('./single-winder/ttm-single-358.png'); }
.single-winder-rotation--359 { background-image: url('./single-winder/ttm-single-359.png'); }
.single-winder-rotation--360 { background-image: url('./single-winder/ttm-single-360.png'); }
.single-winder-rotation--361 { background-image: url('./single-winder/ttm-single-361.png'); }
