.stand-winder--rotation-1 { background: url('./stand/ttm-stand-1.png'); }
.stand-winder--rotation-2 { background: url('./stand/ttm-stand-2.png'); }
.stand-winder--rotation-3 { background: url('./stand/ttm-stand-3.png'); }
.stand-winder--rotation-4 { background: url('./stand/ttm-stand-4.png'); }
.stand-winder--rotation-5 { background: url('./stand/ttm-stand-5.png'); }
.stand-winder--rotation-6 { background: url('./stand/ttm-stand-6.png'); }
.stand-winder--rotation-7 { background: url('./stand/ttm-stand-7.png'); }
.stand-winder--rotation-8 { background: url('./stand/ttm-stand-8.png'); }
.stand-winder--rotation-9 { background: url('./stand/ttm-stand-9.png'); }
.stand-winder--rotation-10 { background: url('./stand/ttm-stand-10.png'); }
.stand-winder--rotation-11 { background: url('./stand/ttm-stand-11.png'); }
.stand-winder--rotation-12 { background: url('./stand/ttm-stand-12.png'); }
.stand-winder--rotation-13 { background: url('./stand/ttm-stand-13.png'); }
.stand-winder--rotation-14 { background: url('./stand/ttm-stand-14.png'); }
.stand-winder--rotation-15 { background: url('./stand/ttm-stand-15.png'); }
.stand-winder--rotation-16 { background: url('./stand/ttm-stand-16.png'); }
.stand-winder--rotation-17 { background: url('./stand/ttm-stand-17.png'); }
.stand-winder--rotation-18 { background: url('./stand/ttm-stand-18.png'); }
.stand-winder--rotation-19 { background: url('./stand/ttm-stand-19.png'); }
.stand-winder--rotation-20 { background: url('./stand/ttm-stand-20.png'); }
.stand-winder--rotation-21 { background: url('./stand/ttm-stand-21.png'); }
.stand-winder--rotation-22 { background: url('./stand/ttm-stand-22.png'); }
.stand-winder--rotation-23 { background: url('./stand/ttm-stand-23.png'); }
.stand-winder--rotation-24 { background: url('./stand/ttm-stand-24.png'); }
.stand-winder--rotation-25 { background: url('./stand/ttm-stand-25.png'); }
.stand-winder--rotation-26 { background: url('./stand/ttm-stand-26.png'); }
.stand-winder--rotation-27 { background: url('./stand/ttm-stand-27.png'); }
.stand-winder--rotation-28 { background: url('./stand/ttm-stand-28.png'); }
.stand-winder--rotation-29 { background: url('./stand/ttm-stand-29.png'); }
.stand-winder--rotation-30 { background: url('./stand/ttm-stand-30.png'); }
.stand-winder--rotation-31 { background: url('./stand/ttm-stand-31.png'); }
.stand-winder--rotation-32 { background: url('./stand/ttm-stand-32.png'); }
.stand-winder--rotation-33 { background: url('./stand/ttm-stand-33.png'); }
.stand-winder--rotation-34 { background: url('./stand/ttm-stand-34.png'); }
.stand-winder--rotation-35 { background: url('./stand/ttm-stand-35.png'); }
.stand-winder--rotation-36 { background: url('./stand/ttm-stand-36.png'); }
.stand-winder--rotation-37 { background: url('./stand/ttm-stand-37.png'); }
.stand-winder--rotation-38 { background: url('./stand/ttm-stand-38.png'); }
.stand-winder--rotation-39 { background: url('./stand/ttm-stand-39.png'); }
.stand-winder--rotation-40 { background: url('./stand/ttm-stand-40.png'); }
.stand-winder--rotation-41 { background: url('./stand/ttm-stand-41.png'); }
.stand-winder--rotation-42 { background: url('./stand/ttm-stand-42.png'); }
.stand-winder--rotation-43 { background: url('./stand/ttm-stand-43.png'); }
.stand-winder--rotation-44 { background: url('./stand/ttm-stand-44.png'); }
.stand-winder--rotation-45 { background: url('./stand/ttm-stand-45.png'); }
.stand-winder--rotation-46 { background: url('./stand/ttm-stand-46.png'); }
.stand-winder--rotation-47 { background: url('./stand/ttm-stand-47.png'); }
.stand-winder--rotation-48 { background: url('./stand/ttm-stand-48.png'); }
.stand-winder--rotation-49 { background: url('./stand/ttm-stand-49.png'); }
.stand-winder--rotation-50 { background: url('./stand/ttm-stand-50.png'); }
.stand-winder--rotation-51 { background: url('./stand/ttm-stand-51.png'); }
.stand-winder--rotation-52 { background: url('./stand/ttm-stand-52.png'); }
.stand-winder--rotation-53 { background: url('./stand/ttm-stand-53.png'); }
.stand-winder--rotation-54 { background: url('./stand/ttm-stand-54.png'); }
.stand-winder--rotation-55 { background: url('./stand/ttm-stand-55.png'); }
.stand-winder--rotation-56 { background: url('./stand/ttm-stand-56.png'); }
.stand-winder--rotation-57 { background: url('./stand/ttm-stand-57.png'); }
.stand-winder--rotation-58 { background: url('./stand/ttm-stand-58.png'); }
.stand-winder--rotation-59 { background: url('./stand/ttm-stand-59.png'); }
.stand-winder--rotation-60 { background: url('./stand/ttm-stand-60.png'); }
.stand-winder--rotation-61 { background: url('./stand/ttm-stand-61.png'); }
.stand-winder--rotation-62 { background: url('./stand/ttm-stand-62.png'); }
.stand-winder--rotation-63 { background: url('./stand/ttm-stand-63.png'); }
.stand-winder--rotation-64 { background: url('./stand/ttm-stand-64.png'); }
.stand-winder--rotation-65 { background: url('./stand/ttm-stand-65.png'); }
.stand-winder--rotation-66 { background: url('./stand/ttm-stand-66.png'); }
.stand-winder--rotation-67 { background: url('./stand/ttm-stand-67.png'); }
.stand-winder--rotation-68 { background: url('./stand/ttm-stand-68.png'); }
.stand-winder--rotation-69 { background: url('./stand/ttm-stand-69.png'); }
.stand-winder--rotation-70 { background: url('./stand/ttm-stand-70.png'); }
.stand-winder--rotation-71 { background: url('./stand/ttm-stand-71.png'); }
.stand-winder--rotation-72 { background: url('./stand/ttm-stand-72.png'); }
.stand-winder--rotation-73 { background: url('./stand/ttm-stand-73.png'); }
.stand-winder--rotation-74 { background: url('./stand/ttm-stand-74.png'); }
.stand-winder--rotation-75 { background: url('./stand/ttm-stand-75.png'); }
.stand-winder--rotation-76 { background: url('./stand/ttm-stand-76.png'); }
.stand-winder--rotation-77 { background: url('./stand/ttm-stand-77.png'); }
.stand-winder--rotation-78 { background: url('./stand/ttm-stand-78.png'); }
.stand-winder--rotation-79 { background: url('./stand/ttm-stand-79.png'); }
.stand-winder--rotation-80 { background: url('./stand/ttm-stand-80.png'); }
.stand-winder--rotation-81 { background: url('./stand/ttm-stand-81.png'); }
.stand-winder--rotation-82 { background: url('./stand/ttm-stand-82.png'); }
.stand-winder--rotation-83 { background: url('./stand/ttm-stand-83.png'); }
.stand-winder--rotation-84 { background: url('./stand/ttm-stand-84.png'); }
.stand-winder--rotation-85 { background: url('./stand/ttm-stand-85.png'); }
.stand-winder--rotation-86 { background: url('./stand/ttm-stand-86.png'); }
.stand-winder--rotation-87 { background: url('./stand/ttm-stand-87.png'); }
.stand-winder--rotation-88 { background: url('./stand/ttm-stand-88.png'); }
.stand-winder--rotation-89 { background: url('./stand/ttm-stand-89.png'); }
.stand-winder--rotation-90 { background: url('./stand/ttm-stand-90.png'); }
.stand-winder--rotation-91 { background: url('./stand/ttm-stand-91.png'); }
.stand-winder--rotation-92 { background: url('./stand/ttm-stand-92.png'); }
.stand-winder--rotation-93 { background: url('./stand/ttm-stand-93.png'); }
.stand-winder--rotation-94 { background: url('./stand/ttm-stand-94.png'); }
.stand-winder--rotation-95 { background: url('./stand/ttm-stand-95.png'); }
.stand-winder--rotation-96 { background: url('./stand/ttm-stand-96.png'); }
.stand-winder--rotation-97 { background: url('./stand/ttm-stand-97.png'); }
.stand-winder--rotation-98 { background: url('./stand/ttm-stand-98.png'); }
.stand-winder--rotation-99 { background: url('./stand/ttm-stand-99.png'); }
.stand-winder--rotation-100 { background: url('./stand/ttm-stand-100.png'); }
.stand-winder--rotation-101 { background: url('./stand/ttm-stand-101.png'); }
.stand-winder--rotation-102 { background: url('./stand/ttm-stand-102.png'); }
.stand-winder--rotation-103 { background: url('./stand/ttm-stand-103.png'); }
.stand-winder--rotation-104 { background: url('./stand/ttm-stand-104.png'); }
.stand-winder--rotation-105 { background: url('./stand/ttm-stand-105.png'); }
.stand-winder--rotation-106 { background: url('./stand/ttm-stand-106.png'); }
.stand-winder--rotation-107 { background: url('./stand/ttm-stand-107.png'); }
.stand-winder--rotation-108 { background: url('./stand/ttm-stand-108.png'); }
.stand-winder--rotation-109 { background: url('./stand/ttm-stand-109.png'); }
.stand-winder--rotation-110 { background: url('./stand/ttm-stand-110.png'); }
.stand-winder--rotation-111 { background: url('./stand/ttm-stand-111.png'); }
.stand-winder--rotation-112 { background: url('./stand/ttm-stand-112.png'); }
.stand-winder--rotation-113 { background: url('./stand/ttm-stand-113.png'); }
.stand-winder--rotation-114 { background: url('./stand/ttm-stand-114.png'); }
.stand-winder--rotation-115 { background: url('./stand/ttm-stand-115.png'); }
.stand-winder--rotation-116 { background: url('./stand/ttm-stand-116.png'); }
.stand-winder--rotation-117 { background: url('./stand/ttm-stand-117.png'); }
.stand-winder--rotation-118 { background: url('./stand/ttm-stand-118.png'); }
.stand-winder--rotation-119 { background: url('./stand/ttm-stand-119.png'); }
.stand-winder--rotation-120 { background: url('./stand/ttm-stand-120.png'); }
.stand-winder--rotation-121 { background: url('./stand/ttm-stand-121.png'); }
.stand-winder--rotation-122 { background: url('./stand/ttm-stand-122.png'); }
.stand-winder--rotation-123 { background: url('./stand/ttm-stand-123.png'); }
.stand-winder--rotation-124 { background: url('./stand/ttm-stand-124.png'); }
.stand-winder--rotation-125 { background: url('./stand/ttm-stand-125.png'); }
.stand-winder--rotation-126 { background: url('./stand/ttm-stand-126.png'); }
.stand-winder--rotation-127 { background: url('./stand/ttm-stand-127.png'); }
.stand-winder--rotation-128 { background: url('./stand/ttm-stand-128.png'); }
.stand-winder--rotation-129 { background: url('./stand/ttm-stand-129.png'); }
.stand-winder--rotation-130 { background: url('./stand/ttm-stand-130.png'); }
.stand-winder--rotation-131 { background: url('./stand/ttm-stand-131.png'); }
.stand-winder--rotation-132 { background: url('./stand/ttm-stand-132.png'); }
.stand-winder--rotation-133 { background: url('./stand/ttm-stand-133.png'); }
.stand-winder--rotation-134 { background: url('./stand/ttm-stand-134.png'); }
.stand-winder--rotation-135 { background: url('./stand/ttm-stand-135.png'); }
.stand-winder--rotation-136 { background: url('./stand/ttm-stand-136.png'); }
.stand-winder--rotation-137 { background: url('./stand/ttm-stand-137.png'); }
.stand-winder--rotation-138 { background: url('./stand/ttm-stand-138.png'); }
.stand-winder--rotation-139 { background: url('./stand/ttm-stand-139.png'); }
.stand-winder--rotation-140 { background: url('./stand/ttm-stand-140.png'); }
.stand-winder--rotation-141 { background: url('./stand/ttm-stand-141.png'); }
.stand-winder--rotation-142 { background: url('./stand/ttm-stand-142.png'); }
.stand-winder--rotation-143 { background: url('./stand/ttm-stand-143.png'); }
.stand-winder--rotation-144 { background: url('./stand/ttm-stand-144.png'); }
.stand-winder--rotation-145 { background: url('./stand/ttm-stand-145.png'); }
.stand-winder--rotation-146 { background: url('./stand/ttm-stand-146.png'); }
.stand-winder--rotation-147 { background: url('./stand/ttm-stand-147.png'); }
.stand-winder--rotation-148 { background: url('./stand/ttm-stand-148.png'); }
.stand-winder--rotation-149 { background: url('./stand/ttm-stand-149.png'); }
.stand-winder--rotation-150 { background: url('./stand/ttm-stand-150.png'); }
.stand-winder--rotation-151 { background: url('./stand/ttm-stand-151.png'); }
.stand-winder--rotation-152 { background: url('./stand/ttm-stand-152.png'); }
.stand-winder--rotation-153 { background: url('./stand/ttm-stand-153.png'); }
.stand-winder--rotation-154 { background: url('./stand/ttm-stand-154.png'); }
.stand-winder--rotation-155 { background: url('./stand/ttm-stand-155.png'); }
.stand-winder--rotation-156 { background: url('./stand/ttm-stand-156.png'); }
.stand-winder--rotation-157 { background: url('./stand/ttm-stand-157.png'); }
.stand-winder--rotation-158 { background: url('./stand/ttm-stand-158.png'); }
.stand-winder--rotation-159 { background: url('./stand/ttm-stand-159.png'); }
.stand-winder--rotation-160 { background: url('./stand/ttm-stand-160.png'); }
.stand-winder--rotation-161 { background: url('./stand/ttm-stand-161.png'); }
.stand-winder--rotation-162 { background: url('./stand/ttm-stand-162.png'); }
.stand-winder--rotation-163 { background: url('./stand/ttm-stand-163.png'); }
.stand-winder--rotation-164 { background: url('./stand/ttm-stand-164.png'); }
.stand-winder--rotation-165 { background: url('./stand/ttm-stand-165.png'); }
.stand-winder--rotation-166 { background: url('./stand/ttm-stand-166.png'); }
.stand-winder--rotation-167 { background: url('./stand/ttm-stand-167.png'); }
.stand-winder--rotation-168 { background: url('./stand/ttm-stand-168.png'); }
.stand-winder--rotation-169 { background: url('./stand/ttm-stand-169.png'); }
.stand-winder--rotation-170 { background: url('./stand/ttm-stand-170.png'); }
.stand-winder--rotation-171 { background: url('./stand/ttm-stand-171.png'); }
.stand-winder--rotation-172 { background: url('./stand/ttm-stand-172.png'); }
.stand-winder--rotation-173 { background: url('./stand/ttm-stand-173.png'); }
.stand-winder--rotation-174 { background: url('./stand/ttm-stand-174.png'); }
.stand-winder--rotation-175 { background: url('./stand/ttm-stand-175.png'); }
.stand-winder--rotation-176 { background: url('./stand/ttm-stand-176.png'); }
.stand-winder--rotation-177 { background: url('./stand/ttm-stand-177.png'); }
.stand-winder--rotation-178 { background: url('./stand/ttm-stand-178.png'); }
.stand-winder--rotation-179 { background: url('./stand/ttm-stand-179.png'); }
.stand-winder--rotation-180 { background: url('./stand/ttm-stand-180.png'); }
.stand-winder--rotation-181 { background: url('./stand/ttm-stand-181.png'); }
.stand-winder--rotation-182 { background: url('./stand/ttm-stand-182.png'); }
.stand-winder--rotation-183 { background: url('./stand/ttm-stand-183.png'); }
.stand-winder--rotation-184 { background: url('./stand/ttm-stand-184.png'); }
.stand-winder--rotation-185 { background: url('./stand/ttm-stand-185.png'); }
.stand-winder--rotation-186 { background: url('./stand/ttm-stand-186.png'); }
.stand-winder--rotation-187 { background: url('./stand/ttm-stand-187.png'); }
.stand-winder--rotation-188 { background: url('./stand/ttm-stand-188.png'); }
.stand-winder--rotation-189 { background: url('./stand/ttm-stand-189.png'); }
.stand-winder--rotation-190 { background: url('./stand/ttm-stand-190.png'); }
.stand-winder--rotation-191 { background: url('./stand/ttm-stand-191.png'); }
.stand-winder--rotation-192 { background: url('./stand/ttm-stand-192.png'); }
.stand-winder--rotation-193 { background: url('./stand/ttm-stand-193.png'); }
.stand-winder--rotation-194 { background: url('./stand/ttm-stand-194.png'); }
.stand-winder--rotation-195 { background: url('./stand/ttm-stand-195.png'); }
.stand-winder--rotation-196 { background: url('./stand/ttm-stand-196.png'); }
.stand-winder--rotation-197 { background: url('./stand/ttm-stand-197.png'); }
.stand-winder--rotation-198 { background: url('./stand/ttm-stand-198.png'); }
.stand-winder--rotation-199 { background: url('./stand/ttm-stand-199.png'); }
.stand-winder--rotation-200 { background: url('./stand/ttm-stand-200.png'); }
.stand-winder--rotation-201 { background: url('./stand/ttm-stand-201.png'); }
.stand-winder--rotation-202 { background: url('./stand/ttm-stand-202.png'); }
.stand-winder--rotation-203 { background: url('./stand/ttm-stand-203.png'); }
.stand-winder--rotation-204 { background: url('./stand/ttm-stand-204.png'); }
.stand-winder--rotation-205 { background: url('./stand/ttm-stand-205.png'); }
.stand-winder--rotation-206 { background: url('./stand/ttm-stand-206.png'); }
.stand-winder--rotation-207 { background: url('./stand/ttm-stand-207.png'); }
.stand-winder--rotation-208 { background: url('./stand/ttm-stand-208.png'); }
.stand-winder--rotation-209 { background: url('./stand/ttm-stand-209.png'); }
.stand-winder--rotation-210 { background: url('./stand/ttm-stand-210.png'); }
.stand-winder--rotation-211 { background: url('./stand/ttm-stand-211.png'); }
.stand-winder--rotation-212 { background: url('./stand/ttm-stand-212.png'); }
.stand-winder--rotation-213 { background: url('./stand/ttm-stand-213.png'); }
.stand-winder--rotation-214 { background: url('./stand/ttm-stand-214.png'); }
.stand-winder--rotation-215 { background: url('./stand/ttm-stand-215.png'); }
.stand-winder--rotation-216 { background: url('./stand/ttm-stand-216.png'); }
.stand-winder--rotation-217 { background: url('./stand/ttm-stand-217.png'); }
.stand-winder--rotation-218 { background: url('./stand/ttm-stand-218.png'); }
.stand-winder--rotation-219 { background: url('./stand/ttm-stand-219.png'); }
.stand-winder--rotation-220 { background: url('./stand/ttm-stand-220.png'); }
.stand-winder--rotation-221 { background: url('./stand/ttm-stand-221.png'); }
.stand-winder--rotation-222 { background: url('./stand/ttm-stand-222.png'); }
.stand-winder--rotation-223 { background: url('./stand/ttm-stand-223.png'); }
.stand-winder--rotation-224 { background: url('./stand/ttm-stand-224.png'); }
.stand-winder--rotation-225 { background: url('./stand/ttm-stand-225.png'); }
.stand-winder--rotation-226 { background: url('./stand/ttm-stand-226.png'); }
.stand-winder--rotation-227 { background: url('./stand/ttm-stand-227.png'); }
.stand-winder--rotation-228 { background: url('./stand/ttm-stand-228.png'); }
.stand-winder--rotation-229 { background: url('./stand/ttm-stand-229.png'); }
.stand-winder--rotation-230 { background: url('./stand/ttm-stand-230.png'); }
.stand-winder--rotation-231 { background: url('./stand/ttm-stand-231.png'); }
.stand-winder--rotation-232 { background: url('./stand/ttm-stand-232.png'); }
.stand-winder--rotation-233 { background: url('./stand/ttm-stand-233.png'); }
.stand-winder--rotation-234 { background: url('./stand/ttm-stand-234.png'); }
.stand-winder--rotation-235 { background: url('./stand/ttm-stand-235.png'); }
.stand-winder--rotation-236 { background: url('./stand/ttm-stand-236.png'); }
.stand-winder--rotation-237 { background: url('./stand/ttm-stand-237.png'); }
.stand-winder--rotation-238 { background: url('./stand/ttm-stand-238.png'); }
.stand-winder--rotation-239 { background: url('./stand/ttm-stand-239.png'); }
.stand-winder--rotation-240 { background: url('./stand/ttm-stand-240.png'); }
.stand-winder--rotation-241 { background: url('./stand/ttm-stand-241.png'); }
.stand-winder--rotation-242 { background: url('./stand/ttm-stand-242.png'); }
.stand-winder--rotation-243 { background: url('./stand/ttm-stand-243.png'); }
.stand-winder--rotation-244 { background: url('./stand/ttm-stand-244.png'); }
.stand-winder--rotation-245 { background: url('./stand/ttm-stand-245.png'); }
.stand-winder--rotation-246 { background: url('./stand/ttm-stand-246.png'); }
.stand-winder--rotation-247 { background: url('./stand/ttm-stand-247.png'); }
.stand-winder--rotation-248 { background: url('./stand/ttm-stand-248.png'); }
.stand-winder--rotation-249 { background: url('./stand/ttm-stand-249.png'); }
.stand-winder--rotation-250 { background: url('./stand/ttm-stand-250.png'); }
.stand-winder--rotation-251 { background: url('./stand/ttm-stand-251.png'); }
.stand-winder--rotation-252 { background: url('./stand/ttm-stand-252.png'); }
.stand-winder--rotation-253 { background: url('./stand/ttm-stand-253.png'); }
.stand-winder--rotation-254 { background: url('./stand/ttm-stand-254.png'); }
.stand-winder--rotation-255 { background: url('./stand/ttm-stand-255.png'); }
.stand-winder--rotation-256 { background: url('./stand/ttm-stand-256.png'); }
.stand-winder--rotation-257 { background: url('./stand/ttm-stand-257.png'); }
.stand-winder--rotation-258 { background: url('./stand/ttm-stand-258.png'); }
.stand-winder--rotation-259 { background: url('./stand/ttm-stand-259.png'); }
.stand-winder--rotation-260 { background: url('./stand/ttm-stand-260.png'); }
.stand-winder--rotation-261 { background: url('./stand/ttm-stand-261.png'); }
.stand-winder--rotation-262 { background: url('./stand/ttm-stand-262.png'); }
.stand-winder--rotation-263 { background: url('./stand/ttm-stand-263.png'); }
.stand-winder--rotation-264 { background: url('./stand/ttm-stand-264.png'); }
.stand-winder--rotation-265 { background: url('./stand/ttm-stand-265.png'); }
.stand-winder--rotation-266 { background: url('./stand/ttm-stand-266.png'); }
.stand-winder--rotation-267 { background: url('./stand/ttm-stand-267.png'); }
.stand-winder--rotation-268 { background: url('./stand/ttm-stand-268.png'); }
.stand-winder--rotation-269 { background: url('./stand/ttm-stand-269.png'); }
.stand-winder--rotation-270 { background: url('./stand/ttm-stand-270.png'); }
.stand-winder--rotation-271 { background: url('./stand/ttm-stand-271.png'); }
.stand-winder--rotation-272 { background: url('./stand/ttm-stand-272.png'); }
.stand-winder--rotation-273 { background: url('./stand/ttm-stand-273.png'); }
.stand-winder--rotation-274 { background: url('./stand/ttm-stand-274.png'); }
.stand-winder--rotation-275 { background: url('./stand/ttm-stand-275.png'); }
.stand-winder--rotation-276 { background: url('./stand/ttm-stand-276.png'); }
.stand-winder--rotation-277 { background: url('./stand/ttm-stand-277.png'); }
.stand-winder--rotation-278 { background: url('./stand/ttm-stand-278.png'); }
.stand-winder--rotation-279 { background: url('./stand/ttm-stand-279.png'); }
.stand-winder--rotation-280 { background: url('./stand/ttm-stand-280.png'); }
.stand-winder--rotation-281 { background: url('./stand/ttm-stand-281.png'); }
.stand-winder--rotation-282 { background: url('./stand/ttm-stand-282.png'); }
.stand-winder--rotation-283 { background: url('./stand/ttm-stand-283.png'); }
.stand-winder--rotation-284 { background: url('./stand/ttm-stand-284.png'); }
.stand-winder--rotation-285 { background: url('./stand/ttm-stand-285.png'); }
.stand-winder--rotation-286 { background: url('./stand/ttm-stand-286.png'); }
.stand-winder--rotation-287 { background: url('./stand/ttm-stand-287.png'); }
.stand-winder--rotation-288 { background: url('./stand/ttm-stand-288.png'); }
.stand-winder--rotation-289 { background: url('./stand/ttm-stand-289.png'); }
.stand-winder--rotation-290 { background: url('./stand/ttm-stand-290.png'); }
.stand-winder--rotation-291 { background: url('./stand/ttm-stand-291.png'); }
.stand-winder--rotation-292 { background: url('./stand/ttm-stand-292.png'); }
.stand-winder--rotation-293 { background: url('./stand/ttm-stand-293.png'); }
.stand-winder--rotation-294 { background: url('./stand/ttm-stand-294.png'); }
.stand-winder--rotation-295 { background: url('./stand/ttm-stand-295.png'); }
.stand-winder--rotation-296 { background: url('./stand/ttm-stand-296.png'); }
.stand-winder--rotation-297 { background: url('./stand/ttm-stand-297.png'); }
.stand-winder--rotation-298 { background: url('./stand/ttm-stand-298.png'); }
.stand-winder--rotation-299 { background: url('./stand/ttm-stand-299.png'); }
.stand-winder--rotation-300 { background: url('./stand/ttm-stand-300.png'); }
.stand-winder--rotation-301 { background: url('./stand/ttm-stand-301.png'); }
.stand-winder--rotation-302 { background: url('./stand/ttm-stand-302.png'); }
.stand-winder--rotation-303 { background: url('./stand/ttm-stand-303.png'); }
.stand-winder--rotation-304 { background: url('./stand/ttm-stand-304.png'); }
.stand-winder--rotation-305 { background: url('./stand/ttm-stand-305.png'); }
.stand-winder--rotation-306 { background: url('./stand/ttm-stand-306.png'); }
.stand-winder--rotation-307 { background: url('./stand/ttm-stand-307.png'); }
.stand-winder--rotation-308 { background: url('./stand/ttm-stand-308.png'); }
.stand-winder--rotation-309 { background: url('./stand/ttm-stand-309.png'); }
.stand-winder--rotation-310 { background: url('./stand/ttm-stand-310.png'); }
.stand-winder--rotation-311 { background: url('./stand/ttm-stand-311.png'); }
.stand-winder--rotation-312 { background: url('./stand/ttm-stand-312.png'); }
.stand-winder--rotation-313 { background: url('./stand/ttm-stand-313.png'); }
.stand-winder--rotation-314 { background: url('./stand/ttm-stand-314.png'); }
.stand-winder--rotation-315 { background: url('./stand/ttm-stand-315.png'); }
.stand-winder--rotation-316 { background: url('./stand/ttm-stand-316.png'); }
.stand-winder--rotation-317 { background: url('./stand/ttm-stand-317.png'); }
.stand-winder--rotation-318 { background: url('./stand/ttm-stand-318.png'); }
.stand-winder--rotation-319 { background: url('./stand/ttm-stand-319.png'); }
.stand-winder--rotation-320 { background: url('./stand/ttm-stand-320.png'); }
.stand-winder--rotation-321 { background: url('./stand/ttm-stand-321.png'); }
.stand-winder--rotation-322 { background: url('./stand/ttm-stand-322.png'); }
.stand-winder--rotation-323 { background: url('./stand/ttm-stand-323.png'); }
.stand-winder--rotation-324 { background: url('./stand/ttm-stand-324.png'); }
.stand-winder--rotation-325 { background: url('./stand/ttm-stand-325.png'); }
.stand-winder--rotation-326 { background: url('./stand/ttm-stand-326.png'); }
.stand-winder--rotation-327 { background: url('./stand/ttm-stand-327.png'); }
.stand-winder--rotation-328 { background: url('./stand/ttm-stand-328.png'); }
.stand-winder--rotation-329 { background: url('./stand/ttm-stand-329.png'); }
.stand-winder--rotation-330 { background: url('./stand/ttm-stand-330.png'); }
.stand-winder--rotation-331 { background: url('./stand/ttm-stand-331.png'); }
.stand-winder--rotation-332 { background: url('./stand/ttm-stand-332.png'); }
.stand-winder--rotation-333 { background: url('./stand/ttm-stand-333.png'); }
.stand-winder--rotation-334 { background: url('./stand/ttm-stand-334.png'); }
.stand-winder--rotation-335 { background: url('./stand/ttm-stand-335.png'); }
.stand-winder--rotation-336 { background: url('./stand/ttm-stand-336.png'); }
.stand-winder--rotation-337 { background: url('./stand/ttm-stand-337.png'); }
.stand-winder--rotation-338 { background: url('./stand/ttm-stand-338.png'); }
.stand-winder--rotation-339 { background: url('./stand/ttm-stand-339.png'); }
.stand-winder--rotation-340 { background: url('./stand/ttm-stand-340.png'); }
.stand-winder--rotation-341 { background: url('./stand/ttm-stand-341.png'); }
.stand-winder--rotation-342 { background: url('./stand/ttm-stand-342.png'); }
.stand-winder--rotation-343 { background: url('./stand/ttm-stand-343.png'); }
.stand-winder--rotation-344 { background: url('./stand/ttm-stand-344.png'); }
.stand-winder--rotation-345 { background: url('./stand/ttm-stand-345.png'); }
.stand-winder--rotation-346 { background: url('./stand/ttm-stand-346.png'); }
.stand-winder--rotation-347 { background: url('./stand/ttm-stand-347.png'); }
.stand-winder--rotation-348 { background: url('./stand/ttm-stand-348.png'); }
.stand-winder--rotation-349 { background: url('./stand/ttm-stand-349.png'); }
.stand-winder--rotation-350 { background: url('./stand/ttm-stand-350.png'); }
.stand-winder--rotation-351 { background: url('./stand/ttm-stand-351.png'); }
.stand-winder--rotation-352 { background: url('./stand/ttm-stand-352.png'); }
.stand-winder--rotation-353 { background: url('./stand/ttm-stand-353.png'); }
.stand-winder--rotation-354 { background: url('./stand/ttm-stand-354.png'); }
.stand-winder--rotation-355 { background: url('./stand/ttm-stand-355.png'); }
.stand-winder--rotation-356 { background: url('./stand/ttm-stand-356.png'); }
.stand-winder--rotation-357 { background: url('./stand/ttm-stand-357.png'); }
.stand-winder--rotation-358 { background: url('./stand/ttm-stand-358.png'); }
.stand-winder--rotation-359 { background: url('./stand/ttm-stand-359.png'); }
.stand-winder--rotation-360 { background: url('./stand/ttm-stand-360.png'); }
