.noto-serif-regular {
  font-family: noto-serif,serif;
  font-weight: 400;
  font-style: normal;
}

.noto-serif-italic {
  font-family: noto-serif,serif;
  font-weight: 400;
  font-style: italic;
}

body, html {
  margin: 0;
  padding: 0;
  font-family: noto-serif,serif;
  font-weight: 400;
  font-style: normal;
  background: #FFF;
}

.winder {
  width: 662px;
  height: 670px;
  position: relative;
  margin: 0 auto;
  perspective: 400px;
  perspective-origin: 50% 30%;
  transform: scale(1.6);
}

header {
  position: fixed;
  z-index: 1000;
  left: 0;
  right: 0;
  padding: 0 40px;
}

header a {
  color: #FFF;
  text-decoration: none;
}

.header-inner {
  min-height: 136px;
  height: 100%;
  border-bottom: 1px solid #FFF;
  display: grid;
  grid-template-columns: 1fr 100px 1fr;
  align-items: center;
  color: #FFF;
  font-size: 16px;
  justify-content: space-between;
  max-width: 1300px;
  margin: 0 auto;
}

.header-inner--black {
  background: #000;
}

.header-inner--black .header-inner {
  border-bottom: none;
}

.header-logo {
  background: url('./tm-logo-white.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 50px;
  height: 55px;
  justify-self: center;
}

.slider__5 .winder {
  width: 800px;
  height: 800px;
  position: absolute;
  left: -154px;
}

.header-links {
  justify-self: flex-end;
}

.header-links ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.header-links ul img,
.header-links--cart {
  width: 34px;
  height: 35px;
}

.header-links--cart {
  display: block;
}

.header-links li:not(:last-child) {
  padding-right: 10px;
  margin-right: 20px;
  position: relative;
}

.header-links li:not(:last-child):after {
  content: '|';
  position: absolute;
  top: 0;
  right: -10px;
}

/* .background-section {
  background: url('./interior.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  height: 1080px;
  opacity: 0;
  position: relative;
} */

.animation-section {
  position: relative;
}

.first-section {
  background: #000;
  height: 100vh;
}

.first-section video {
  max-width: 100%;
  width: 100%;
}

.winder-stand {
  background: url('./stand.png');
  width: 662px;
  height: 203px;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
  transform-style: preserve-3d;
  /* transition: transform 1000ms ease-in, opacity 1000ms 200ms ease-in; */
}

.slider__5 .winder-stand {
  background: url('./single-winder/stacked/winder-stand.png');
  width: 800px;
  height: 800px;
}

.winder-stand--remove {
  transform: scale(0.9) translateY(-30px);
  opacity: 0;
}

.winder-light {
  width: 112px;
  height: 53px;
  background: url('./spredaj-light.png') no-repeat;
  background-size: contain;
  position: absolute;
  left: 50%;
  top: 11px;
  opacity: 0;
  transform: translateX(-50%);
  z-index: 20;
  transition: opacity 300ms ease-in;
}

.winder-light--visible {
  opacity: 1;
}

.winder-winder {
  background: url('./spredaj-banner-light-off.png') no-repeat;
  background-size: contain;
  width: 592px;
  height: 595px;
  position: absolute;
  bottom: 74px;
  left: 35px;
  z-index: 2;
}

.slider__5 .winder-winder,
.winder-winder--with-center {
  background: url('./single-winder/stacked/winder-base.png');
  width: 800px;
  height: 800px;
  bottom: 0;
  left: 0;
}

.winder-winder--with-center {
  position: relative;
  z-index: 10;
  opacity: 0;
  z-index: 10;
}

.winder-winder--with-center .winder-center {
  transform: rotate(90deg);
}

.slider__5--winder-hidden .winder > .winder-center,
.slider__5--winder-hidden .winder > .winder-winder {
  opacity: 0 !important;
}

.winder-center {
  background: url('./winder-center.png') no-repeat;
  background-size: contain;
  width: 342px;
  height: 342px;
  position: absolute;
  top: 129px;
  left: 160px;
  z-index: 3;
}

.slider__5 .winder-center {
  background: url('./single-winder/stacked/winder-center.png');
  width: 265px;
  height: 265px;
  top: calc(50% - 39px);
  left: calc(50% + 10px);
  transform: translate(-50%, -50%);
  transform-origin: center;
}

.single-winder-section {
  background: #000;
  height: 2500px;
  padding-top: 200px;
  z-index: 20;
}

.winder-wrapper {
  position: relative;
  transform-origin: top;
  z-index: 10;
  transition: opacity 170ms ease;
  opacity: 1;
}

.big-stick-hidden .winder-wrapper {
  opacity: 0;
}

.stand-without-top-one {
  width: 601px;
  height: 2071px;
  background: url('./stojalo-flat.png') center no-repeat;
  margin: 0 auto;
  background-size: contain;
  background-position: center;
  max-width: 100%;
  transform: scale(2);
  transform-origin: center;
  position: relative;
}

.stand-without-top-one--hidden {
  visibility: hidden;
  opacity: 0;
}

.top-one-empty {
  position: absolute;
  top: -90px;
  left: 50%;
  transform: translateX(-50%);
  background: url('./top-empty-flat.png');
  width: 256px;
  height: 257px;
  opacity: 0;
  transition: all 170ms ease-in;
}

.stand-without-top-one--visible {
  opacity: 1;
}

.stand-without-top-one--smaller .stand-without-top-one {
  /* transform: scale(.4); */
  transform-origin: center 25%;
}

.big-stick-hidden .top-one-empty {
  opacity: 1;
  transition: all 170ms 170ms ease-in;
}

.stand-without-top-one--hidden .top-one-empty {
  opacity: 0 !important;
  transition: all 170ms ease-in;
}

.banner-section {
  text-align: center;
  background: #000;
  color: #FFF;
  height: 284px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.banner-section h1,
.banner-section h2 {
  color: #FFF;
  margin: 0;
  padding: 0;
}

.banner-section h1 {
  font-size: 50px;
}

.extra-info-section {
  z-index: 10;
}

.extra-info-paragraph {
  font-size: 40px;
  line-height: 43px;
  color: #FFF;
  width: 670px;
  position: absolute;
  top: 150px;
  left: 10vw;
  opacity: 0;
}

@media screen and (max-width: 1440px) {
  .extra-info-paragraph {
    font-size: 30px;
    line-height: 34px;
  }
}

.section-second-info {
  background: #FFF;
  height: 2248px;
  z-index: 10;
  padding-top: 100px;
}

.section-second-info-paragraph {
  margin-top: 0;
  margin-bottom: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0;
  font-size: 30px;
  line-height: 43px;
  color: #000;
  left: 10vw;
  width: 20vw;
}

.section-stick {
  background: #FFF;
  height: 21300px;
  opacity: 1;
  padding-top: 1470px;
  margin-top: 220px;
}

.section-stick--hidden .stand-without-top-one {
  opacity: 0;
  transition: opacity 300ms ease-in;
}

.products-slider-section {
  background: #FFF;
  transform: translateY(-1043px);
  transition: opacity 250ms ease-in;
  padding: 0 50px;
  height: 853px;
  margin-top: 689px;
  opacity: 0;
}

.products-slider-section--visible {
  opacity: 1;
}

.empty-section {
  height: 1896px;
  background: #000;
  margin-top: -2200px;
}

.app-mockup-section {
  background: #000;
  height: 3554px;
  overflow: hidden;
}

.app-mockup {
  position: absolute;
  top: 300px;
  z-index: 20;
  width: 30vw;
  height: 1900px;
  right: 0;
  overflow: hidden;
}

.app-mockup--inner {
  background: url('./TM-app-mockup.png');
  background-size: cover;
  width: 937px;
  height: 1900px;
  position: absolute;
  left: 0;
  top: 0;
}

.slick-prev:before, .slick-next:before {
  color: #000 !important;
}

footer {
  height: 30vh;
  width: 100%;
  background: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  color: #9698a3;
  border-top: 1px solid rgba(255, 255, 255, .1);
}

.app-mockup-text-section {
  border-top: 1px solid #FFF;
  position: absolute;
  width: calc(100% - 30vw - 140px);
  padding-top: 40px;
  padding-right: 40px;
  right: 30vw;
  opacity: 0;
  z-index: 10;
}

.app-mockup-text-section--first {
  top: 569px;
}

.app-mockup-text-section--second {
  top: 1420px;
}

.app-mockup-text-section--third {
  top: 2218px;
}

.app-mockup-text-section__title,
.app-mockup-text-section__text {
  color: #FFF;
}

.app-mockup-text-section__title {
  font-size: 70px;
  line-height: 70px;
  margin-bottom: 40px;
}

.app-mockup-text-section__text {
  font-size: 30px;
  line-height: 30px;
}

.slider__5--hide-overflow {
  overflow: hidden;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .app-mockup--inner {
    background-image: url('./TM-app-mockup@2x.png');
  }
}

@media screen and (max-width: 1280px) {
  .section-second-info-paragraph {
    font-size: 24px;
    line-height: 38px;
    left: 7vh;
  }

  .app-mockup-text-section {
    width: calc(100% - 30vw - 50px);
  }

  .app-mockup-text-section__title {
    font-size: 40px;
    line-height: 40px;
  }

  .app-mockup-text-section__text {
    font-size: 20px;
    line-height: 30px;
  }
}

@media screen and (max-width: 1110px) {
  .extra-info-paragraph {
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
    text-align: center;
  }

  .app-mockup-text-section--first {
    top: 40vh;
  }

  .app-mockup-text-section--second {
    top: 80vh;
  }

  .app-mockup-text-section--third {
    top: 120vh;
  }

  .app-mockup-section {
    height: 180vh;
  }
}

@media screen and (max-width: 960px) {
  .empty-section {
    height: 80vh;
  }

  .empty-section-paragraph {
    width: 80%;
    font-size: 50px;
    line-height: 50px;
  }

  .app-mockup-text-section--first {
    top: 20vh;
  }

  .app-mockup-text-section--second {
    top: 50vh;
  }

  .app-mockup-text-section--third {
    top: 80vh;
  }

  .app-mockup-text-section__title {
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 20px;
  }

  .app-mockup-text-section__text {
    font-size: 20px;
    line-height: 20px;
  }

  .app-mockup-section {
    height: 120vh;
  }
}

@media screen and (max-width: 770px) {
  .app-mockup {
    right: auto;
    left: calc(100% - 200px);
  }

  .app-mockup,
  .app-mockup--inner {
    width: 363px;
    height: 735px;
  }

  .app-mockup-section {
    height: 2500px;
    padding-top: 600px;
  }

  .app-mockup-text-section {
    padding-top: 20px;
  }

  .app-mockup-text-section {
    opacity: 1;
    border-top: none;
  }

  .app-mockup-text-section--first {
    top: 700px;
  }

  .app-mockup-text-section__title {
    font-size: 24px;
    line-height: 24px;
  }

  .app-mockup-text-section--second {
    top: 1300px;
  }

  .app-mockup-text-section--third {
    top: 1900px;
  }

  .app-mockup-text-section__text {
    font-size: 16px;
    line-height: 16px;
  }
}

@media screen and (max-width: 600px) {
  .app-mockup-text-section {
    width: 50%;
    right: 50%;
    padding: 0 16px;
    left: 0;
  }
}

@media screen and (max-width: 550px) {
  .app-mockup {
    right: auto;
    left: calc(100% - 150px);
  }

  .app-mockup,
  .app-mockup--inner {
    width: 250px;
    height: 505px;
  }
}

@media screen and (max-width: 420px) {
  
}

.living-room {
  height: 200vh;
  position: sticky;
  top: 0;
  background: url('./living-room.jpeg');
  background-size: contain;
  transform: translateY(-50vh);
  position: relative;  
}

.start-parallax-winder-section {
  transform: translateY(-350px);
}

.start-parallax-winder-stop-section {
  transform: translateY(150px);
}

.start-second-info {
  transform: translateY(400px);
}

.start-winder-stand-remove {
  transform: translateY(1000px);
}

.start-winders-slider-animation {
  transform: translateY(2700px);
}

.remove-top-stand-section {
  transform: translateY(2200px);
}

/* .display-products-section {
  transform: translateY(-100px);
} */

.slider-descriptions {
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  z-index: 100;
  left: 50%;
  z-index: 100;
  width: 400px;
  height: 460px;
  opacity: 0;
  visibility: hidden;
}

.slider-descriptions--visible {
  opacity: 1;
  visibility: visible;
}

.slider-descriptions .slider__title {
  font-size: 46px;
  font-weight: bold;
  line-height: 46px;
  margin-bottom: 50px;
}

.slider__top-title {
  font-size: 23px;
  font-weight: bold;
  margin-bottom: 10px;
  line-height: 23px;
}

.slider__title-line {
  width: 100%;
  height: 2px;
  background: rgba(0, 0, 0, .8);
  margin-top: 5px;
  margin-bottom: 20px;
}

.slider-slide {
  width: 100%;
  position: absolute;
  top: 0;
  height: 100%;
  align-items: center;
}

.slider-slide .slider-content {
  opacity: 0;
}

.slider-content {
  width: 100%;
  transform: translateX(50px);
}

.slider__body {
  color: rgba(0, 0, 0, .5);
}

.slider__image {
  position: absolute;
  width: 500px;
  height: 460px;
  top: 0;
  left: -550px;
  opacity: 0;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  transition: background 100ms ease-in;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider__1 .slider__image {
  transform: scale(1);
  top: 20px;
}
.slider__2 .slider__image { background-image: url('./slider/Wall_Front.png'); }
/* .slider__3 .slider__image { background-image: url('./slider/Triple_Front.png'); } */
/* .slider__4 .slider__image { background-image: url('./slider/Double_Front.png'); } */
.slider__5 .winder {
  transform: scale(.63);
}

.slider__5 .winder {
  opacity: 0;
}

.slider__price {
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
  margin-top: 40px;
}

.slider__price-value {
  font-size: 40px;
  font-weight: bold;
  margin-left: 5px;
}

.slider__buttons {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 10px;
}

.slider__button {
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  border: 1px solid #000;
  transition: background 70ms ease-in-out;
  color: #000;
  text-decoration: none;
}

.slider__button:hover {
  cursor: pointer;
  background: rgba(0, 0, 0, .1);
  transition: background 70ms ease-in;
}

.winder-bottom-description {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 100;
  z-index: 100;
  width: 400px;
  opacity: 0;
}

.winder-bottom-description__1 {
  top: calc(50% + 400px);
  right: calc(50% + 334px);
}

.winder-bottom-description:after {
  content: '';
  height: 1px;
  background: #000;
  bottom: 10px;
  display: block;
  width: 486px;
}

.winder-bottom-description__2 {
  top: calc(50% + 166px);
  left: calc(50% + 365px);
}

.winder-bottom-description__2:after {
  width: 627px;
  position: absolute;
  right: 0;
  bottom: 0;
}

.winder-bottom-description__3 {
  top: calc(50% + 166px);
  right: calc(50% + 337px);
}

.winder-bottom-description__3:after {
  width: 613px;
}

.winder-bottom-description__title,
.fulhaber-motor-image-description-title {
  font-size: 40px;
  margin-bottom: 20px;
}

.winder-bottom-description__body,
.fulhaber-motor-image-description-body {
  font-size: 18px;
}

.fulhaber-motor-image-description-title,
.fulhaber-motor-image-description-body {
  color: #FFF;
}

.fulhaber-motor-image {
  background-image: url('./motor.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 600px;
  height: 275px;
  margin: 0 auto;
  transform: translateY(1200px);
  z-index: 10;
}

.fulhaber-motor-image-description {
  width: 500px;
  position: relative;
  top: 200px;
  left: 200px;
  /* transform: translate(200px, 550px); */
  margin: 0 auto;
  opacity: 0;
  transition: opacity 200ms ease-in-out;
}

.fulhaber-motor-image-description.in-viewport {
  transition: opacity 200ms ease-in;
  opacity: 1;
}

.specs-section {
  background: #000;
  height: 1700px;
  color: #FFF;
  padding: 300px 10vw 0;
}

.specs-section__title {
  margin-top: 0;
  font-size: 40px;
  margin-bottom: 50px;
  font-weight: normal;
}

.specs-section__list {
  display: grid;
  grid-template-columns: 300px 1fr;
  margin: 0;
}

.specs-section__list dt,
.specs-section__list dd {
  border-bottom: 1px solid #FFF;
  padding: 10px;
}

.specs-section__list dd {
  margin-left: 0;
  padding-left: 30px;
}

.specs-section__list dt {
  text-align: right;
  border-right: 1px solid #FFF;
}

.specs-section__list dt:last-of-type,
.specs-section__list dd:last-of-type {
  border-bottom: none;
}

/* .slider__5 .winder-stand {
  transform: scale(.97) translateZ(-20px);
  opacity: 0;
} */

.winder-watch {
  background: url('./watch.png');
  width: 440px;
  height: 594px;
  position: absolute;
  top: 59px;
  left: 194px;
  z-index: 10;
  transform: scale(0.4);
  opacity: 0;
}

.hidden-images {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: -10000px;
  left: -10000px;
}

.image-360-rotation {
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (max-height: 800px) {
  .section-second-info-paragraph {
    font-size: 20px;
    left: 5vw;
  }
}

@media screen and (max-width: 1550px) {
  .winder-bottom-description {
    top: calc(50% + 200px);
  }

  .winder-bottom-description__1,
  .winder-bottom-description__3 {
    right: calc(50% + 250px);
  }

  .winder-bottom-description__2 {
    left: calc(50% + 265px);
  }

  .winder-bottom-description:after {
    display: none;
  }
}

@media screen and (max-width: 1320px) {
  .winder-bottom-description {
    width: 300px;
  }
}

@media screen and (max-width: 1220px) {
  .winder-bottom-description {
    width: 200px;
  }
}

.hidden-mobile {
  display: inherit;
}

.visible-mobile {
  display: none;
}

@media screen and (max-width: 770px) {
  .visible-mobile {
    display: block;
    position: relative;
  }

  .hidden-mobile {
    display: none;
  }

  .mobile-winder-paragraph {
    padding: 0 10vw;
    font-size: 18px;
    line-height: 25px;
    position: absolute;
    top: 1600px;
    z-index: 1000;
  }

  .main-subtitle-mobile {
    font-weight: 300;
    position: absolute;
    top: 500px;
    left: 0;
    padding: 0 10vw;
    font-size: 20px;
    line-height: 32px;
    color: rgba(255, 255, 255, .8);
  }

  .empty-section {
    height: auto;
    margin-top: 0;
  }

  .section-stick {
    overflow: hidden;
    height: auto;
    padding-top: 0;
    margin-top: 0;
  }

  .section-second-info {
    height: auto;
    padding-top: 0;
    opacity: 1;
    position: relative;
  }

  .specs-section__list {
    display: flex;
    flex-direction: column;
  }

  .slider-descriptions {
    opacity: 0;
    visibility: visible;
    position: relative;
    top: auto;
    left: 0;
    width: auto;
    height: auto;
    padding: 0 10vw;
    margin-top: -1100px;
    transform: none;
  }

  .slider-slide {
    margin-bottom: 100px;
  }

  .slider__1 .slider__image {
    opacity: 0;
  }

  .stand-without-top-one {
    width: auto;
    transform: scale(1.6);
  }

  .stand-without-top-one-wrapper {
    overflow: hidden;
    margin-top: -170px;
  }

  .slider__image {
    opacity: 1;
    visibility: visible;
  }

  .top-one-empty {
    top: 335px;
    width: 156px;
    height: 156px;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .slider-slide .slider-content {
    opacity: 1;
  }

  .slider-content {
    transform: translateX(0);
  }

  .slider-slide {
    position: relative;
    top: auto;
  }

  .fulhaber-motor-image {
    width: 80%;
    transform: translate(0);
  }

  .single-winder-section {
    overflow: hidden;
    height: auto;
  }

  .header-inner {
    min-height: 60px;
  }

  .header-logo {
    justify-self: flex-start;
    width: 30px;
    height: 34px;
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
  }

  .fulhaber-motor-image-description {
    width: auto;
    top: 0;
    left: 0;
    transform: translate(0, 0);
    opacity: 1;
    padding: 0 10vw 20vw;
  }

  .slider__image {
    position: relative;
    width: 100%;
    height: auto;
    left: 0;
    top: auto;
  }

  .slider__5 .slider__image {
    margin-bottom: 20px;
  }

  .section-second-info-paragraph {
    width: 100%;
    opacity: 1;
    position: relative;
    left: 0;
  }

  .specs-section__list dt {
    border-right: none;
    border-bottom: none;
    text-align: left;
    padding: 10px 0;
  }

  .specs-section__list dd {
    padding: 0 0 20px 0;
    margin-bottom: 10px;
  }

  .extra-info-paragraph {
    opacity: 1;
    padding: 0 40px;
    font-size: 30px;
  }

  .single-winder-section {
    padding-top: 0;
  }

  video {
    max-width: 100%;
  }

  .winder-bottom-description {
    transform: translate(0, 0);
    width: auto;
    top: auto;
    left: 0;
    opacity: 1;
    position: relative;
    padding: 0 10px;
    margin: 25px 0 600px;
  }

  .winder-bottom-description__1 {
    margin-top: -3000px;
  }

  .winder-bottom-description .winder {
    transform: translateX(-50%);
  }

  header {
    padding: 0 20px;
    background: #000;
  }

  .open-mobile-menu {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
  }

  .mobile-menu-bar {
    width: 30px;
    height: 3px;
    background: #FFF;
  }

  .mobile-menu-bar:not(:last-child) {
    margin-bottom: 8px;
  }

  .header-menu {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1000000;
    background: #000;
    transition: all 200ms ease-in-out;
    height: 100vh;
    transform: translateY(-100%);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .close-header-menu {
    position: absolute;
    top: 20px;
    right: 20px;
    color: #FFF;
    font-size: 40px;
    line-height: 40px;
  }

  body.mobile-menu-opened {
    overflow: hidden;
  }

  body.mobile-menu-opened .header-menu {
    transition: all 200ms ease-in;
    transform: translateY(0);
  }

  .header-menu-links {
    margin: 0;
    padding: 0;
    text-align: center;
  }

  .header-menu-links li:not(:last-child) {
    margin-bottom: 10px;
  }

  .header-menu-links a {
    color: #FFF;
    font-size: 30px;
    text-decoration: none;
  }

  .header-title a,
  .header-links ul {
    display: none;
  }

  .slider__5 .winder {
    display: none;
  }

  .specs-section {
    overflow: hidden;
    height: auto;
    padding: 0 10vw;
    z-index: 10000;
  }

  .first-section video {
    height: 100vh;
  }

  .banner-section {
    padding: 0 20px 1000px;
    height: auto;
    margin-bottom: 50px;
  }

  .banner-section h1 {
    font-size: 40px;
  }

  .winder {
    width: 80%;
    height: auto;
    transform: translateX(-50%) scale(2.4);
    left: 50%;
  }

  .slider__5 .winder {
    width: 80%;
    height: 80%;
    position: relative;
    left: 0;
  }
}

@media screen and (max-width: 770px) {
  .mobile-winder--bottom-wrapper {
    position: relative;
    z-index: 10000;
  }

  .winder-light {
    width: 86px;
    height: 40px;
  }

  .empty-section {
    z-index: 10001;
  }

  .winder-mask {
    background: url('./winder-mask.png');
    width: 509px;
    height: 515px;
    margin: 0;
    position: absolute;
    z-index: 2;
    background-size: contain;
  }

  .winder-stand-mask {
    width: 509px;
    height: 156px;
    background-size: 509px 156px;
    background: url('./stand-mask.png');
    margin: 0;
    position: absolute;
    z-index: 1;
    background-size: contain;
    bottom: 0;
    left: 0;
  }

  .mobile-winder {
    width: 509px;
    height: 515px;
    margin: 0;
    position: relative;
    z-index: 100;
  }

  .slider__image img {
    max-width: 100%;
  }

  .slider__image video {
    display: none;
  }

  .mobile-winder-wrapper {
    position: relative;
    transform-origin: top;
    z-index: 10;
  }

  .mobile-winder-section {
    padding-top: 280px;
    height: 1870px;
    overflow: hidden;
    margin-top: -940px;
  }

  .mobile-winder .winder-stand,
  .mobile-winder .winder-stand-mask {
    width: 509px;
    height: 156px;
    background-size: 509px 156px;
  }

  .winder-watch {
    top: -69px;
    left: 34px;
    z-index: 10;
    transform: scale(0.41);
  }

  .mobile-winder .winder-winder,
  .mobile-winder .winder-mask {
    width: 455px;
    height: 458px;
    bottom: 54px;
    left: 27px;
  }

  .mobile-winder .winder-center {
    width: 263px;
    height: 263px;
    top: 102px;
    left: 123px;
  }

  .mobile-winder--bottom {
    margin: 0 auto;
  }

  .mobile-winder--bottom-first {
    margin-top: 250px;
  }
  
  .mobile-winder--bottom-first .winder-winder,
  .mobile-winder--bottom-first .winder-center {
    opacity: .2;
  }

  .mobile-winder--bottom-second .winder-winder,
  .mobile-winder--bottom-second .winder-stand {
    opacity: .2;
  }

  .mobile-winder--bottom-third .winder-winder,
  .mobile-winder--bottom-third .winder-stand {
    opacity: .2;
  }
}

@media screen and (min-height: 800px) and (max-height: 1024px) {
  .mobile-winder-section {
    padding-top: 360px;
  }
}

@media screen and (max-width: 550px) {
  .mobile-winder-section {
    padding-top: 240px;
  }

  .stand-without-top-one-wrapper {
    padding: 0 20px;
  }

  .mobile-winder {
    width: 301px;
    height: 305px;
  }

  .winder-light {
    width: 48px;
    height: 23px;
    top: 7px;
    left: calc(50% - 1px);
  }

  .winder-watch {
    top: -164px;
    left: -70px;
    transform: scale(0.26);
  }

  .mobile-winder .winder-stand,
  .mobile-winder .winder-stand-mask {
    width: 301px;
    height: 92px;
    background-size: 301px 92px;
  }

  .mobile-winder .winder-winder,
  .mobile-winder .winder-mask {
    width: 269px;
    height: 270px;
    bottom: 33px;
    left: 15px;
  }

  .mobile-winder .winder-center {
    width: 158px;
    height: 158px;
    top: 58px;
    left: 70px;
  }
}

@media screen and (max-width: 400px) {
  .winder-bottom-description {
    padding: 0 10vw;
  }

  .stand-without-top-one-wrapper {
    padding: 0;
  }
}
