.triple-winder--rotation-1 { background: url('./triple/ttm-dvojni-00001.png'); }
.triple-winder--rotation-2 { background: url('./triple/ttm-dvojni-00002.png'); }
.triple-winder--rotation-3 { background: url('./triple/ttm-dvojni-00003.png'); }
.triple-winder--rotation-4 { background: url('./triple/ttm-dvojni-00004.png'); }
.triple-winder--rotation-5 { background: url('./triple/ttm-dvojni-00005.png'); }
.triple-winder--rotation-6 { background: url('./triple/ttm-dvojni-00006.png'); }
.triple-winder--rotation-7 { background: url('./triple/ttm-dvojni-00007.png'); }
.triple-winder--rotation-8 { background: url('./triple/ttm-dvojni-00008.png'); }
.triple-winder--rotation-9 { background: url('./triple/ttm-dvojni-00009.png'); }
.triple-winder--rotation-10 { background: url('./triple/ttm-dvojni-00010.png'); }
.triple-winder--rotation-11 { background: url('./triple/ttm-dvojni-00011.png'); }
.triple-winder--rotation-12 { background: url('./triple/ttm-dvojni-00012.png'); }
.triple-winder--rotation-13 { background: url('./triple/ttm-dvojni-00013.png'); }
.triple-winder--rotation-14 { background: url('./triple/ttm-dvojni-00014.png'); }
.triple-winder--rotation-15 { background: url('./triple/ttm-dvojni-00015.png'); }
.triple-winder--rotation-16 { background: url('./triple/ttm-dvojni-00016.png'); }
.triple-winder--rotation-17 { background: url('./triple/ttm-dvojni-00017.png'); }
.triple-winder--rotation-18 { background: url('./triple/ttm-dvojni-00018.png'); }
.triple-winder--rotation-19 { background: url('./triple/ttm-dvojni-00019.png'); }
.triple-winder--rotation-20 { background: url('./triple/ttm-dvojni-00020.png'); }
.triple-winder--rotation-21 { background: url('./triple/ttm-dvojni-00021.png'); }
.triple-winder--rotation-22 { background: url('./triple/ttm-dvojni-00022.png'); }
.triple-winder--rotation-23 { background: url('./triple/ttm-dvojni-00023.png'); }
.triple-winder--rotation-24 { background: url('./triple/ttm-dvojni-00024.png'); }
.triple-winder--rotation-25 { background: url('./triple/ttm-dvojni-00025.png'); }
.triple-winder--rotation-26 { background: url('./triple/ttm-dvojni-00026.png'); }
.triple-winder--rotation-27 { background: url('./triple/ttm-dvojni-00027.png'); }
.triple-winder--rotation-28 { background: url('./triple/ttm-dvojni-00028.png'); }
.triple-winder--rotation-29 { background: url('./triple/ttm-dvojni-00029.png'); }
.triple-winder--rotation-30 { background: url('./triple/ttm-dvojni-00030.png'); }
.triple-winder--rotation-31 { background: url('./triple/ttm-dvojni-00031.png'); }
.triple-winder--rotation-32 { background: url('./triple/ttm-dvojni-00032.png'); }
.triple-winder--rotation-33 { background: url('./triple/ttm-dvojni-00033.png'); }
.triple-winder--rotation-34 { background: url('./triple/ttm-dvojni-00034.png'); }
.triple-winder--rotation-35 { background: url('./triple/ttm-dvojni-00035.png'); }
.triple-winder--rotation-36 { background: url('./triple/ttm-dvojni-00036.png'); }
.triple-winder--rotation-37 { background: url('./triple/ttm-dvojni-00037.png'); }
.triple-winder--rotation-38 { background: url('./triple/ttm-dvojni-00038.png'); }
.triple-winder--rotation-39 { background: url('./triple/ttm-dvojni-00039.png'); }
.triple-winder--rotation-40 { background: url('./triple/ttm-dvojni-00040.png'); }
.triple-winder--rotation-41 { background: url('./triple/ttm-dvojni-00041.png'); }
.triple-winder--rotation-42 { background: url('./triple/ttm-dvojni-00042.png'); }
.triple-winder--rotation-43 { background: url('./triple/ttm-dvojni-00043.png'); }
.triple-winder--rotation-44 { background: url('./triple/ttm-dvojni-00044.png'); }
.triple-winder--rotation-45 { background: url('./triple/ttm-dvojni-00045.png'); }
.triple-winder--rotation-46 { background: url('./triple/ttm-dvojni-00046.png'); }
.triple-winder--rotation-47 { background: url('./triple/ttm-dvojni-00047.png'); }
.triple-winder--rotation-48 { background: url('./triple/ttm-dvojni-00048.png'); }
.triple-winder--rotation-49 { background: url('./triple/ttm-dvojni-00049.png'); }
.triple-winder--rotation-50 { background: url('./triple/ttm-dvojni-00050.png'); }
.triple-winder--rotation-51 { background: url('./triple/ttm-dvojni-00051.png'); }
.triple-winder--rotation-52 { background: url('./triple/ttm-dvojni-00052.png'); }
.triple-winder--rotation-53 { background: url('./triple/ttm-dvojni-00053.png'); }
.triple-winder--rotation-54 { background: url('./triple/ttm-dvojni-00054.png'); }
.triple-winder--rotation-55 { background: url('./triple/ttm-dvojni-00055.png'); }
.triple-winder--rotation-56 { background: url('./triple/ttm-dvojni-00056.png'); }
.triple-winder--rotation-57 { background: url('./triple/ttm-dvojni-00057.png'); }
.triple-winder--rotation-58 { background: url('./triple/ttm-dvojni-00058.png'); }
.triple-winder--rotation-59 { background: url('./triple/ttm-dvojni-00059.png'); }
.triple-winder--rotation-60 { background: url('./triple/ttm-dvojni-00060.png'); }
.triple-winder--rotation-61 { background: url('./triple/ttm-dvojni-00061.png'); }
.triple-winder--rotation-62 { background: url('./triple/ttm-dvojni-00062.png'); }
.triple-winder--rotation-63 { background: url('./triple/ttm-dvojni-00063.png'); }
.triple-winder--rotation-64 { background: url('./triple/ttm-dvojni-00064.png'); }
.triple-winder--rotation-65 { background: url('./triple/ttm-dvojni-00065.png'); }
.triple-winder--rotation-66 { background: url('./triple/ttm-dvojni-00066.png'); }
.triple-winder--rotation-67 { background: url('./triple/ttm-dvojni-00067.png'); }
.triple-winder--rotation-68 { background: url('./triple/ttm-dvojni-00068.png'); }
.triple-winder--rotation-69 { background: url('./triple/ttm-dvojni-00069.png'); }
.triple-winder--rotation-70 { background: url('./triple/ttm-dvojni-00070.png'); }
.triple-winder--rotation-71 { background: url('./triple/ttm-dvojni-00071.png'); }
.triple-winder--rotation-72 { background: url('./triple/ttm-dvojni-00072.png'); }
.triple-winder--rotation-73 { background: url('./triple/ttm-dvojni-00073.png'); }
.triple-winder--rotation-74 { background: url('./triple/ttm-dvojni-00074.png'); }
.triple-winder--rotation-75 { background: url('./triple/ttm-dvojni-00075.png'); }
.triple-winder--rotation-76 { background: url('./triple/ttm-dvojni-00076.png'); }
.triple-winder--rotation-77 { background: url('./triple/ttm-dvojni-00077.png'); }
.triple-winder--rotation-78 { background: url('./triple/ttm-dvojni-00078.png'); }
.triple-winder--rotation-79 { background: url('./triple/ttm-dvojni-00079.png'); }
.triple-winder--rotation-80 { background: url('./triple/ttm-dvojni-00080.png'); }
.triple-winder--rotation-81 { background: url('./triple/ttm-dvojni-00081.png'); }
.triple-winder--rotation-82 { background: url('./triple/ttm-dvojni-00082.png'); }
.triple-winder--rotation-83 { background: url('./triple/ttm-dvojni-00083.png'); }
.triple-winder--rotation-84 { background: url('./triple/ttm-dvojni-00084.png'); }
.triple-winder--rotation-85 { background: url('./triple/ttm-dvojni-00085.png'); }
.triple-winder--rotation-86 { background: url('./triple/ttm-dvojni-00086.png'); }
.triple-winder--rotation-87 { background: url('./triple/ttm-dvojni-00087.png'); }
.triple-winder--rotation-88 { background: url('./triple/ttm-dvojni-00088.png'); }
.triple-winder--rotation-89 { background: url('./triple/ttm-dvojni-00089.png'); }
.triple-winder--rotation-90 { background: url('./triple/ttm-dvojni-00090.png'); }
.triple-winder--rotation-91 { background: url('./triple/ttm-dvojni-00091.png'); }
.triple-winder--rotation-92 { background: url('./triple/ttm-dvojni-00092.png'); }
.triple-winder--rotation-93 { background: url('./triple/ttm-dvojni-00093.png'); }
.triple-winder--rotation-94 { background: url('./triple/ttm-dvojni-00094.png'); }
.triple-winder--rotation-95 { background: url('./triple/ttm-dvojni-00095.png'); }
.triple-winder--rotation-96 { background: url('./triple/ttm-dvojni-00096.png'); }
.triple-winder--rotation-97 { background: url('./triple/ttm-dvojni-00097.png'); }
.triple-winder--rotation-98 { background: url('./triple/ttm-dvojni-00098.png'); }
.triple-winder--rotation-99 { background: url('./triple/ttm-dvojni-00099.png'); }
.triple-winder--rotation-100 { background: url('./triple/ttm-dvojni-00100.png'); }
.triple-winder--rotation-101 { background: url('./triple/ttm-dvojni-00101.png'); }
.triple-winder--rotation-102 { background: url('./triple/ttm-dvojni-00102.png'); }
.triple-winder--rotation-103 { background: url('./triple/ttm-dvojni-00103.png'); }
.triple-winder--rotation-104 { background: url('./triple/ttm-dvojni-00104.png'); }
.triple-winder--rotation-105 { background: url('./triple/ttm-dvojni-00105.png'); }
.triple-winder--rotation-106 { background: url('./triple/ttm-dvojni-00106.png'); }
.triple-winder--rotation-107 { background: url('./triple/ttm-dvojni-00107.png'); }
.triple-winder--rotation-108 { background: url('./triple/ttm-dvojni-00108.png'); }
.triple-winder--rotation-109 { background: url('./triple/ttm-dvojni-00109.png'); }
.triple-winder--rotation-110 { background: url('./triple/ttm-dvojni-00110.png'); }
.triple-winder--rotation-111 { background: url('./triple/ttm-dvojni-00111.png'); }
.triple-winder--rotation-112 { background: url('./triple/ttm-dvojni-00112.png'); }
.triple-winder--rotation-113 { background: url('./triple/ttm-dvojni-00113.png'); }
.triple-winder--rotation-114 { background: url('./triple/ttm-dvojni-00114.png'); }
.triple-winder--rotation-115 { background: url('./triple/ttm-dvojni-00115.png'); }
.triple-winder--rotation-116 { background: url('./triple/ttm-dvojni-00116.png'); }
.triple-winder--rotation-117 { background: url('./triple/ttm-dvojni-00117.png'); }
.triple-winder--rotation-118 { background: url('./triple/ttm-dvojni-00118.png'); }
.triple-winder--rotation-119 { background: url('./triple/ttm-dvojni-00119.png'); }
.triple-winder--rotation-120 { background: url('./triple/ttm-dvojni-00120.png'); }
.triple-winder--rotation-121 { background: url('./triple/ttm-dvojni-00121.png'); }
.triple-winder--rotation-122 { background: url('./triple/ttm-dvojni-00122.png'); }
.triple-winder--rotation-123 { background: url('./triple/ttm-dvojni-00123.png'); }
.triple-winder--rotation-124 { background: url('./triple/ttm-dvojni-00124.png'); }
.triple-winder--rotation-125 { background: url('./triple/ttm-dvojni-00125.png'); }
.triple-winder--rotation-126 { background: url('./triple/ttm-dvojni-00126.png'); }
.triple-winder--rotation-127 { background: url('./triple/ttm-dvojni-00127.png'); }
.triple-winder--rotation-128 { background: url('./triple/ttm-dvojni-00128.png'); }
.triple-winder--rotation-129 { background: url('./triple/ttm-dvojni-00129.png'); }
.triple-winder--rotation-130 { background: url('./triple/ttm-dvojni-00130.png'); }
.triple-winder--rotation-131 { background: url('./triple/ttm-dvojni-00131.png'); }
.triple-winder--rotation-132 { background: url('./triple/ttm-dvojni-00132.png'); }
.triple-winder--rotation-133 { background: url('./triple/ttm-dvojni-00133.png'); }
.triple-winder--rotation-134 { background: url('./triple/ttm-dvojni-00134.png'); }
.triple-winder--rotation-135 { background: url('./triple/ttm-dvojni-00135.png'); }
.triple-winder--rotation-136 { background: url('./triple/ttm-dvojni-00136.png'); }
.triple-winder--rotation-137 { background: url('./triple/ttm-dvojni-00137.png'); }
.triple-winder--rotation-138 { background: url('./triple/ttm-dvojni-00138.png'); }
.triple-winder--rotation-139 { background: url('./triple/ttm-dvojni-00139.png'); }
.triple-winder--rotation-140 { background: url('./triple/ttm-dvojni-00140.png'); }
.triple-winder--rotation-141 { background: url('./triple/ttm-dvojni-00141.png'); }
.triple-winder--rotation-142 { background: url('./triple/ttm-dvojni-00142.png'); }
.triple-winder--rotation-143 { background: url('./triple/ttm-dvojni-00143.png'); }
.triple-winder--rotation-144 { background: url('./triple/ttm-dvojni-00144.png'); }
.triple-winder--rotation-145 { background: url('./triple/ttm-dvojni-00145.png'); }
.triple-winder--rotation-146 { background: url('./triple/ttm-dvojni-00146.png'); }
.triple-winder--rotation-147 { background: url('./triple/ttm-dvojni-00147.png'); }
.triple-winder--rotation-148 { background: url('./triple/ttm-dvojni-00148.png'); }
.triple-winder--rotation-149 { background: url('./triple/ttm-dvojni-00149.png'); }
.triple-winder--rotation-150 { background: url('./triple/ttm-dvojni-00150.png'); }
.triple-winder--rotation-151 { background: url('./triple/ttm-dvojni-00151.png'); }
.triple-winder--rotation-152 { background: url('./triple/ttm-dvojni-00152.png'); }
.triple-winder--rotation-153 { background: url('./triple/ttm-dvojni-00153.png'); }
.triple-winder--rotation-154 { background: url('./triple/ttm-dvojni-00154.png'); }
.triple-winder--rotation-155 { background: url('./triple/ttm-dvojni-00155.png'); }
.triple-winder--rotation-156 { background: url('./triple/ttm-dvojni-00156.png'); }
.triple-winder--rotation-157 { background: url('./triple/ttm-dvojni-00157.png'); }
.triple-winder--rotation-158 { background: url('./triple/ttm-dvojni-00158.png'); }
.triple-winder--rotation-159 { background: url('./triple/ttm-dvojni-00159.png'); }
.triple-winder--rotation-160 { background: url('./triple/ttm-dvojni-00160.png'); }
.triple-winder--rotation-161 { background: url('./triple/ttm-dvojni-00161.png'); }
.triple-winder--rotation-162 { background: url('./triple/ttm-dvojni-00162.png'); }
.triple-winder--rotation-163 { background: url('./triple/ttm-dvojni-00163.png'); }
.triple-winder--rotation-164 { background: url('./triple/ttm-dvojni-00164.png'); }
.triple-winder--rotation-165 { background: url('./triple/ttm-dvojni-00165.png'); }
.triple-winder--rotation-166 { background: url('./triple/ttm-dvojni-00166.png'); }
.triple-winder--rotation-167 { background: url('./triple/ttm-dvojni-00167.png'); }
.triple-winder--rotation-168 { background: url('./triple/ttm-dvojni-00168.png'); }
.triple-winder--rotation-169 { background: url('./triple/ttm-dvojni-00169.png'); }
.triple-winder--rotation-170 { background: url('./triple/ttm-dvojni-00170.png'); }
.triple-winder--rotation-171 { background: url('./triple/ttm-dvojni-00171.png'); }
.triple-winder--rotation-172 { background: url('./triple/ttm-dvojni-00172.png'); }
.triple-winder--rotation-173 { background: url('./triple/ttm-dvojni-00173.png'); }
.triple-winder--rotation-174 { background: url('./triple/ttm-dvojni-00174.png'); }
.triple-winder--rotation-175 { background: url('./triple/ttm-dvojni-00175.png'); }
.triple-winder--rotation-176 { background: url('./triple/ttm-dvojni-00176.png'); }
.triple-winder--rotation-177 { background: url('./triple/ttm-dvojni-00177.png'); }
.triple-winder--rotation-178 { background: url('./triple/ttm-dvojni-00178.png'); }
.triple-winder--rotation-179 { background: url('./triple/ttm-dvojni-00179.png'); }
.triple-winder--rotation-180 { background: url('./triple/ttm-dvojni-00180.png'); }
.triple-winder--rotation-181 { background: url('./triple/ttm-dvojni-00181.png'); }
.triple-winder--rotation-182 { background: url('./triple/ttm-dvojni-00182.png'); }
.triple-winder--rotation-183 { background: url('./triple/ttm-dvojni-00183.png'); }
.triple-winder--rotation-184 { background: url('./triple/ttm-dvojni-00184.png'); }
.triple-winder--rotation-185 { background: url('./triple/ttm-dvojni-00185.png'); }
.triple-winder--rotation-186 { background: url('./triple/ttm-dvojni-00186.png'); }
.triple-winder--rotation-187 { background: url('./triple/ttm-dvojni-00187.png'); }
.triple-winder--rotation-188 { background: url('./triple/ttm-dvojni-00188.png'); }
.triple-winder--rotation-189 { background: url('./triple/ttm-dvojni-00189.png'); }
.triple-winder--rotation-190 { background: url('./triple/ttm-dvojni-00190.png'); }
.triple-winder--rotation-191 { background: url('./triple/ttm-dvojni-00191.png'); }
.triple-winder--rotation-192 { background: url('./triple/ttm-dvojni-00192.png'); }
.triple-winder--rotation-193 { background: url('./triple/ttm-dvojni-00193.png'); }
.triple-winder--rotation-194 { background: url('./triple/ttm-dvojni-00194.png'); }
.triple-winder--rotation-195 { background: url('./triple/ttm-dvojni-00195.png'); }
.triple-winder--rotation-196 { background: url('./triple/ttm-dvojni-00196.png'); }
.triple-winder--rotation-197 { background: url('./triple/ttm-dvojni-00197.png'); }
.triple-winder--rotation-198 { background: url('./triple/ttm-dvojni-00198.png'); }
.triple-winder--rotation-199 { background: url('./triple/ttm-dvojni-00199.png'); }
.triple-winder--rotation-200 { background: url('./triple/ttm-dvojni-00200.png'); }
.triple-winder--rotation-201 { background: url('./triple/ttm-dvojni-00201.png'); }
.triple-winder--rotation-202 { background: url('./triple/ttm-dvojni-00202.png'); }
.triple-winder--rotation-203 { background: url('./triple/ttm-dvojni-00203.png'); }
.triple-winder--rotation-204 { background: url('./triple/ttm-dvojni-00204.png'); }
.triple-winder--rotation-205 { background: url('./triple/ttm-dvojni-00205.png'); }
.triple-winder--rotation-206 { background: url('./triple/ttm-dvojni-00206.png'); }
.triple-winder--rotation-207 { background: url('./triple/ttm-dvojni-00207.png'); }
.triple-winder--rotation-208 { background: url('./triple/ttm-dvojni-00208.png'); }
.triple-winder--rotation-209 { background: url('./triple/ttm-dvojni-00209.png'); }
.triple-winder--rotation-210 { background: url('./triple/ttm-dvojni-00210.png'); }
.triple-winder--rotation-211 { background: url('./triple/ttm-dvojni-00211.png'); }
.triple-winder--rotation-212 { background: url('./triple/ttm-dvojni-00212.png'); }
.triple-winder--rotation-213 { background: url('./triple/ttm-dvojni-00213.png'); }
.triple-winder--rotation-214 { background: url('./triple/ttm-dvojni-00214.png'); }
.triple-winder--rotation-215 { background: url('./triple/ttm-dvojni-00215.png'); }
.triple-winder--rotation-216 { background: url('./triple/ttm-dvojni-00216.png'); }
.triple-winder--rotation-217 { background: url('./triple/ttm-dvojni-00217.png'); }
.triple-winder--rotation-218 { background: url('./triple/ttm-dvojni-00218.png'); }
.triple-winder--rotation-219 { background: url('./triple/ttm-dvojni-00219.png'); }
.triple-winder--rotation-220 { background: url('./triple/ttm-dvojni-00220.png'); }
.triple-winder--rotation-221 { background: url('./triple/ttm-dvojni-00221.png'); }
.triple-winder--rotation-222 { background: url('./triple/ttm-dvojni-00222.png'); }
.triple-winder--rotation-223 { background: url('./triple/ttm-dvojni-00223.png'); }
.triple-winder--rotation-224 { background: url('./triple/ttm-dvojni-00224.png'); }
.triple-winder--rotation-225 { background: url('./triple/ttm-dvojni-00225.png'); }
.triple-winder--rotation-226 { background: url('./triple/ttm-dvojni-00226.png'); }
.triple-winder--rotation-227 { background: url('./triple/ttm-dvojni-00227.png'); }
.triple-winder--rotation-228 { background: url('./triple/ttm-dvojni-00228.png'); }
.triple-winder--rotation-229 { background: url('./triple/ttm-dvojni-00229.png'); }
.triple-winder--rotation-230 { background: url('./triple/ttm-dvojni-00230.png'); }
.triple-winder--rotation-231 { background: url('./triple/ttm-dvojni-00231.png'); }
.triple-winder--rotation-232 { background: url('./triple/ttm-dvojni-00232.png'); }
.triple-winder--rotation-233 { background: url('./triple/ttm-dvojni-00233.png'); }
.triple-winder--rotation-234 { background: url('./triple/ttm-dvojni-00234.png'); }
.triple-winder--rotation-235 { background: url('./triple/ttm-dvojni-00235.png'); }
.triple-winder--rotation-236 { background: url('./triple/ttm-dvojni-00236.png'); }
.triple-winder--rotation-237 { background: url('./triple/ttm-dvojni-00237.png'); }
.triple-winder--rotation-238 { background: url('./triple/ttm-dvojni-00238.png'); }
.triple-winder--rotation-239 { background: url('./triple/ttm-dvojni-00239.png'); }
.triple-winder--rotation-240 { background: url('./triple/ttm-dvojni-00240.png'); }
.triple-winder--rotation-241 { background: url('./triple/ttm-dvojni-00241.png'); }
.triple-winder--rotation-242 { background: url('./triple/ttm-dvojni-00242.png'); }
.triple-winder--rotation-243 { background: url('./triple/ttm-dvojni-00243.png'); }
.triple-winder--rotation-244 { background: url('./triple/ttm-dvojni-00244.png'); }
.triple-winder--rotation-245 { background: url('./triple/ttm-dvojni-00245.png'); }
.triple-winder--rotation-246 { background: url('./triple/ttm-dvojni-00246.png'); }
.triple-winder--rotation-247 { background: url('./triple/ttm-dvojni-00247.png'); }
.triple-winder--rotation-248 { background: url('./triple/ttm-dvojni-00248.png'); }
.triple-winder--rotation-249 { background: url('./triple/ttm-dvojni-00249.png'); }
.triple-winder--rotation-250 { background: url('./triple/ttm-dvojni-00250.png'); }
.triple-winder--rotation-251 { background: url('./triple/ttm-dvojni-00251.png'); }
.triple-winder--rotation-252 { background: url('./triple/ttm-dvojni-00252.png'); }
.triple-winder--rotation-253 { background: url('./triple/ttm-dvojni-00253.png'); }
.triple-winder--rotation-254 { background: url('./triple/ttm-dvojni-00254.png'); }
.triple-winder--rotation-255 { background: url('./triple/ttm-dvojni-00255.png'); }
.triple-winder--rotation-256 { background: url('./triple/ttm-dvojni-00256.png'); }
.triple-winder--rotation-257 { background: url('./triple/ttm-dvojni-00257.png'); }
.triple-winder--rotation-258 { background: url('./triple/ttm-dvojni-00258.png'); }
.triple-winder--rotation-259 { background: url('./triple/ttm-dvojni-00259.png'); }
.triple-winder--rotation-260 { background: url('./triple/ttm-dvojni-00260.png'); }
.triple-winder--rotation-261 { background: url('./triple/ttm-dvojni-00261.png'); }
.triple-winder--rotation-262 { background: url('./triple/ttm-dvojni-00262.png'); }
.triple-winder--rotation-263 { background: url('./triple/ttm-dvojni-00263.png'); }
.triple-winder--rotation-264 { background: url('./triple/ttm-dvojni-00264.png'); }
.triple-winder--rotation-265 { background: url('./triple/ttm-dvojni-00265.png'); }
.triple-winder--rotation-266 { background: url('./triple/ttm-dvojni-00266.png'); }
.triple-winder--rotation-267 { background: url('./triple/ttm-dvojni-00267.png'); }
.triple-winder--rotation-268 { background: url('./triple/ttm-dvojni-00268.png'); }
.triple-winder--rotation-269 { background: url('./triple/ttm-dvojni-00269.png'); }
.triple-winder--rotation-270 { background: url('./triple/ttm-dvojni-00270.png'); }
.triple-winder--rotation-271 { background: url('./triple/ttm-dvojni-00271.png'); }
.triple-winder--rotation-272 { background: url('./triple/ttm-dvojni-00272.png'); }
.triple-winder--rotation-273 { background: url('./triple/ttm-dvojni-00273.png'); }
.triple-winder--rotation-274 { background: url('./triple/ttm-dvojni-00274.png'); }
.triple-winder--rotation-275 { background: url('./triple/ttm-dvojni-00275.png'); }
.triple-winder--rotation-276 { background: url('./triple/ttm-dvojni-00276.png'); }
.triple-winder--rotation-277 { background: url('./triple/ttm-dvojni-00277.png'); }
.triple-winder--rotation-278 { background: url('./triple/ttm-dvojni-00278.png'); }
.triple-winder--rotation-279 { background: url('./triple/ttm-dvojni-00279.png'); }
.triple-winder--rotation-280 { background: url('./triple/ttm-dvojni-00280.png'); }
.triple-winder--rotation-281 { background: url('./triple/ttm-dvojni-00281.png'); }
.triple-winder--rotation-282 { background: url('./triple/ttm-dvojni-00282.png'); }
.triple-winder--rotation-283 { background: url('./triple/ttm-dvojni-00283.png'); }
.triple-winder--rotation-284 { background: url('./triple/ttm-dvojni-00284.png'); }
.triple-winder--rotation-285 { background: url('./triple/ttm-dvojni-00285.png'); }
.triple-winder--rotation-286 { background: url('./triple/ttm-dvojni-00286.png'); }
.triple-winder--rotation-287 { background: url('./triple/ttm-dvojni-00287.png'); }
.triple-winder--rotation-288 { background: url('./triple/ttm-dvojni-00288.png'); }
.triple-winder--rotation-289 { background: url('./triple/ttm-dvojni-00289.png'); }
.triple-winder--rotation-290 { background: url('./triple/ttm-dvojni-00290.png'); }
.triple-winder--rotation-291 { background: url('./triple/ttm-dvojni-00291.png'); }
.triple-winder--rotation-292 { background: url('./triple/ttm-dvojni-00292.png'); }
.triple-winder--rotation-293 { background: url('./triple/ttm-dvojni-00293.png'); }
.triple-winder--rotation-294 { background: url('./triple/ttm-dvojni-00294.png'); }
.triple-winder--rotation-295 { background: url('./triple/ttm-dvojni-00295.png'); }
.triple-winder--rotation-296 { background: url('./triple/ttm-dvojni-00296.png'); }
.triple-winder--rotation-297 { background: url('./triple/ttm-dvojni-00297.png'); }
.triple-winder--rotation-298 { background: url('./triple/ttm-dvojni-00298.png'); }
.triple-winder--rotation-299 { background: url('./triple/ttm-dvojni-00299.png'); }
.triple-winder--rotation-300 { background: url('./triple/ttm-dvojni-00300.png'); }
.triple-winder--rotation-301 { background: url('./triple/ttm-dvojni-00301.png'); }
.triple-winder--rotation-302 { background: url('./triple/ttm-dvojni-00302.png'); }
.triple-winder--rotation-303 { background: url('./triple/ttm-dvojni-00303.png'); }
.triple-winder--rotation-304 { background: url('./triple/ttm-dvojni-00304.png'); }
.triple-winder--rotation-305 { background: url('./triple/ttm-dvojni-00305.png'); }
.triple-winder--rotation-306 { background: url('./triple/ttm-dvojni-00306.png'); }
.triple-winder--rotation-307 { background: url('./triple/ttm-dvojni-00307.png'); }
.triple-winder--rotation-308 { background: url('./triple/ttm-dvojni-00308.png'); }
.triple-winder--rotation-309 { background: url('./triple/ttm-dvojni-00309.png'); }
.triple-winder--rotation-310 { background: url('./triple/ttm-dvojni-00310.png'); }
.triple-winder--rotation-311 { background: url('./triple/ttm-dvojni-00311.png'); }
.triple-winder--rotation-312 { background: url('./triple/ttm-dvojni-00312.png'); }
.triple-winder--rotation-313 { background: url('./triple/ttm-dvojni-00313.png'); }
.triple-winder--rotation-314 { background: url('./triple/ttm-dvojni-00314.png'); }
.triple-winder--rotation-315 { background: url('./triple/ttm-dvojni-00315.png'); }
.triple-winder--rotation-316 { background: url('./triple/ttm-dvojni-00316.png'); }
.triple-winder--rotation-317 { background: url('./triple/ttm-dvojni-00317.png'); }
.triple-winder--rotation-318 { background: url('./triple/ttm-dvojni-00318.png'); }
.triple-winder--rotation-319 { background: url('./triple/ttm-dvojni-00319.png'); }
.triple-winder--rotation-320 { background: url('./triple/ttm-dvojni-00320.png'); }
.triple-winder--rotation-321 { background: url('./triple/ttm-dvojni-00321.png'); }
.triple-winder--rotation-322 { background: url('./triple/ttm-dvojni-00322.png'); }
.triple-winder--rotation-323 { background: url('./triple/ttm-dvojni-00323.png'); }
.triple-winder--rotation-324 { background: url('./triple/ttm-dvojni-00324.png'); }
.triple-winder--rotation-325 { background: url('./triple/ttm-dvojni-00325.png'); }
.triple-winder--rotation-326 { background: url('./triple/ttm-dvojni-00326.png'); }
.triple-winder--rotation-327 { background: url('./triple/ttm-dvojni-00327.png'); }
.triple-winder--rotation-328 { background: url('./triple/ttm-dvojni-00328.png'); }
.triple-winder--rotation-329 { background: url('./triple/ttm-dvojni-00329.png'); }
.triple-winder--rotation-330 { background: url('./triple/ttm-dvojni-00330.png'); }
.triple-winder--rotation-331 { background: url('./triple/ttm-dvojni-00331.png'); }
.triple-winder--rotation-332 { background: url('./triple/ttm-dvojni-00332.png'); }
.triple-winder--rotation-333 { background: url('./triple/ttm-dvojni-00333.png'); }
.triple-winder--rotation-334 { background: url('./triple/ttm-dvojni-00334.png'); }
.triple-winder--rotation-335 { background: url('./triple/ttm-dvojni-00335.png'); }
.triple-winder--rotation-336 { background: url('./triple/ttm-dvojni-00336.png'); }
.triple-winder--rotation-337 { background: url('./triple/ttm-dvojni-00337.png'); }
.triple-winder--rotation-338 { background: url('./triple/ttm-dvojni-00338.png'); }
.triple-winder--rotation-339 { background: url('./triple/ttm-dvojni-00339.png'); }
.triple-winder--rotation-340 { background: url('./triple/ttm-dvojni-00340.png'); }
.triple-winder--rotation-341 { background: url('./triple/ttm-dvojni-00341.png'); }
.triple-winder--rotation-342 { background: url('./triple/ttm-dvojni-00342.png'); }
.triple-winder--rotation-343 { background: url('./triple/ttm-dvojni-00343.png'); }
.triple-winder--rotation-344 { background: url('./triple/ttm-dvojni-00344.png'); }
.triple-winder--rotation-345 { background: url('./triple/ttm-dvojni-00345.png'); }
.triple-winder--rotation-346 { background: url('./triple/ttm-dvojni-00346.png'); }
.triple-winder--rotation-347 { background: url('./triple/ttm-dvojni-00347.png'); }
.triple-winder--rotation-348 { background: url('./triple/ttm-dvojni-00348.png'); }
.triple-winder--rotation-349 { background: url('./triple/ttm-dvojni-00349.png'); }
.triple-winder--rotation-350 { background: url('./triple/ttm-dvojni-00350.png'); }
.triple-winder--rotation-351 { background: url('./triple/ttm-dvojni-00351.png'); }
.triple-winder--rotation-352 { background: url('./triple/ttm-dvojni-00352.png'); }
.triple-winder--rotation-353 { background: url('./triple/ttm-dvojni-00353.png'); }
.triple-winder--rotation-354 { background: url('./triple/ttm-dvojni-00354.png'); }
.triple-winder--rotation-355 { background: url('./triple/ttm-dvojni-00355.png'); }
.triple-winder--rotation-356 { background: url('./triple/ttm-dvojni-00356.png'); }
.triple-winder--rotation-357 { background: url('./triple/ttm-dvojni-00357.png'); }
.triple-winder--rotation-358 { background: url('./triple/ttm-dvojni-00358.png'); }
.triple-winder--rotation-359 { background: url('./triple/ttm-dvojni-00359.png'); }
.triple-winder--rotation-360 { background: url('./triple/ttm-dvojni-00360.png'); }
